backup_Get_reg_ZJDYBSwcIEYP5dHN.json
{
  "createdAt": "2023-08-16T16:21:12.691Z",
  "updatedAt": "2023-11-06T12:03:14.000Z",
  "id": "ZJDYBSwcIEYP5dHN",
  "name": "Get reg",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "get_webinar_data_by_email",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Headers",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "1e7a4b11-25b8-4926-880e-72c5c3653b8b",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        880,
        600
      ],
      "webhookId": "9df4d6dd-8800-448a-8243-7e63178446df"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "leads_dump",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "email",
              "condition": "eq",
              "keyValue": "={{ $json.body.email }}"
            }
          ]
        }
      },
      "id": "f3d3c40c-e685-4ac4-8df1-0ca46fc843d4",
      "name": "Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1020,
        600
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "6stEFLC7gtftREcf",
          "name": "Supabase Campaign manager"
        }
      }
    },
    {
      "parameters": {
        "operation": "concatenateItems",
        "aggregate": "aggregateAllItemData"
      },
      "id": "db1b5ea4-3e96-428e-a84f-97c30386d141",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        1760,
        600
      ]
    },
    {
      "parameters": {
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "7f67effd-374c-4eab-bf32-b038ae8f7a36",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1960,
        400
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "campaign",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.camp_id }}"
            }
          ]
        }
      },
      "id": "277fc3cf-9431-4147-9878-f3ce30b40fe3",
      "name": "Supabase1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1220,
        600
      ],
      "credentials": {
        "supabaseApi": {
          "id": "6stEFLC7gtftREcf",
          "name": "Supabase Campaign manager"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "campaign_source",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.source }}"
            }
          ]
        }
      },
      "id": "593ccaa1-f3fc-431b-a453-4dd1f54e3fe1",
      "name": "Supabase2",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1380,
        600
      ],
      "credentials": {
        "supabaseApi": {
          "id": "6stEFLC7gtftREcf",
          "name": "Supabase Campaign manager"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "=first_name",
              "value": "={{ $('Supabase').item.json.first_name }}"
            },
            {
              "name": "last_name",
              "value": "={{ $('Supabase').item.json.last_name }}"
            },
            {
              "name": "email",
              "value": "={{ $('Supabase').item.json.email }}"
            },
            {
              "name": "source_name",
              "value": "={{ $json.source_name }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6728bda8-5326-4fc3-954d-126ea1e2d382",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1560,
        600
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "Supabase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase1": {
      "main": [
        [
          {
            "node": "Supabase2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase2": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "6d14e58c-6572-4a1c-8d8d-5cde8a009963",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2023-08-16T16:21:12.698Z",
      "updatedAt": "2023-08-16T16:21:12.698Z",
      "role": "workflow:owner",
      "workflowId": "ZJDYBSwcIEYP5dHN",
      "projectId": "cR71BtEHrwxYg2T3",
      "project": {
        "createdAt": "2025-03-05T09:02:14.120Z",
        "updatedAt": "2025-03-05T09:02:14.120Z",
        "id": "cR71BtEHrwxYg2T3",
        "name": "jithin jithin.kumar@mileseducation.com <jithin.kumar@mileseducation.com>",
        "type": "personal",
        "icon": null,
        "projectRelations": [
          {
            "createdAt": "2025-03-05T09:02:14.123Z",
            "updatedAt": "2025-03-05T09:02:14.123Z",
            "role": "project:personalOwner",
            "userId": "f51de756-6885-4866-9956-6527c235116c",
            "projectId": "cR71BtEHrwxYg2T3",
            "user": {
              "createdAt": "2023-08-04T07:13:39.569Z",
              "updatedAt": "2025-03-27T08:36:36.628Z",
              "id": "f51de756-6885-4866-9956-6527c235116c",
              "email": "jithin.kumar@mileseducation.com",
              "firstName": "jithin",
              "lastName": "jithin.kumar@mileseducation.com",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2023-08-04T07:16:29.938Z",
                "personalization_survey_n8n_version": "1.1.1"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "AI5qL0olh221f3jV",
                "isOnboarded": true,
                "userActivatedAt": 1741165335002,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1743064591892
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false,
              "isOwner": true
            }
          }
        ]
      }
    }
  ],
  "tags": []
}