backup_Get_Webinars_registered_through_an_Email_RucGpVteBdAwJfv3.json
{
  "createdAt": "2024-09-17T09:31:12.001Z",
  "updatedAt": "2024-09-18T05:51:34.000Z",
  "id": "RucGpVteBdAwJfv3",
  "name": "Get Webinars registered through an Email",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "path": "web-reg-email",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "bd3a767b-2ae9-49d5-ac41-4de333335e6f",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        280,
        400
      ],
      "webhookId": "cbb915ac-e149-4ce6-8255-9ee19a230ae3"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "leads_dump",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "email",
              "condition": "eq",
              "keyValue": "={{ $json.query.email }}"
            }
          ]
        }
      },
      "id": "53132252-e5ae-48fe-b722-9d36c34be0be",
      "name": "Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        500,
        140
      ],
      "credentials": {
        "supabaseApi": {
          "id": "6stEFLC7gtftREcf",
          "name": "Supabase Campaign manager"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "webinar_registration",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "registration_email",
              "condition": "eq",
              "keyValue": "={{ $json.query.email }}"
            }
          ]
        }
      },
      "id": "74b77cee-1cf4-4dde-a0b9-3f27cbd28cab",
      "name": "Supabase1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        720,
        400
      ],
      "credentials": {
        "supabaseApi": {
          "id": "6stEFLC7gtftREcf",
          "name": "Supabase Campaign manager"
        }
      }
    },
    {
      "parameters": {
        "operation": "sort",
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "webinar_id"
            }
          ]
        },
        "options": {}
      },
      "id": "681e3f5c-7d2d-44a5-a9d1-46ea45ce1b77",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        1140,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.webinar_id }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "e6634a48-aa28-4a08-959b-b9914b8e9201",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        940,
        400
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "webinar",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.webinar_id }}"
            }
          ]
        }
      },
      "id": "aaefb03b-9603-42c6-bb56-b06219c05986",
      "name": "Supabase2",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1360,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "6stEFLC7gtftREcf",
          "name": "Supabase Campaign manager"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "ee252d3e-a0e2-470d-8942-6d1fdaa7716f",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1580,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Supabase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase1": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "Supabase2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase2": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Calcutta",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "ae47ba19-1a36-4f58-b8a0-13e34beabbc5",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2024-09-17T09:31:12.007Z",
      "updatedAt": "2024-09-17T09:31:12.007Z",
      "role": "workflow:owner",
      "workflowId": "RucGpVteBdAwJfv3",
      "projectId": "cR71BtEHrwxYg2T3",
      "project": {
        "createdAt": "2025-03-05T09:02:14.120Z",
        "updatedAt": "2025-03-05T09:02:14.120Z",
        "id": "cR71BtEHrwxYg2T3",
        "name": "jithin jithin.kumar@mileseducation.com <jithin.kumar@mileseducation.com>",
        "type": "personal",
        "icon": null,
        "projectRelations": [
          {
            "createdAt": "2025-03-05T09:02:14.123Z",
            "updatedAt": "2025-03-05T09:02:14.123Z",
            "role": "project:personalOwner",
            "userId": "f51de756-6885-4866-9956-6527c235116c",
            "projectId": "cR71BtEHrwxYg2T3",
            "user": {
              "createdAt": "2023-08-04T07:13:39.569Z",
              "updatedAt": "2025-03-27T08:36:36.628Z",
              "id": "f51de756-6885-4866-9956-6527c235116c",
              "email": "jithin.kumar@mileseducation.com",
              "firstName": "jithin",
              "lastName": "jithin.kumar@mileseducation.com",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2023-08-04T07:16:29.938Z",
                "personalization_survey_n8n_version": "1.1.1"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "AI5qL0olh221f3jV",
                "isOnboarded": true,
                "userActivatedAt": 1741165335002,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1743064591892
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false,
              "isOwner": true
            }
          }
        ]
      }
    }
  ],
  "tags": []
}