backup_Get_user_qIxVJicmPp13wWZx.json
{
  "createdAt": "2024-08-28T12:07:11.368Z",
  "updatedAt": "2024-08-28T12:18:06.000Z",
  "id": "qIxVJicmPp13wWZx",
  "name": "Get user",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "path": "6f356de6-546f-433b-98b9-22fccb7a6da5",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b9eff19e-c156-43fe-9599-983d9119319f",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        660,
        280
      ],
      "webhookId": "6f356de6-546f-433b-98b9-22fccb7a6da5"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "webinar_registration",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "registration_email",
              "condition": "eq",
              "keyValue": "={{ $json.query.email }}"
            }
          ]
        }
      },
      "id": "43d9438e-b302-4a3c-bd38-cfcd7a0f3557",
      "name": "Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        880,
        280
      ],
      "credentials": {
        "supabaseApi": {
          "id": "6stEFLC7gtftREcf",
          "name": "Supabase Campaign manager"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "fb9feab4-914a-4b95-a602-a604a61b7284",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1320,
        280
      ]
    },
    {
      "parameters": {
        "operation": "concatenateItems",
        "aggregate": "aggregateAllItemData"
      },
      "id": "d03adbaf-eee0-4b94-a59a-c4239c6b87f2",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        1100,
        280
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "88f1e3bc-4b6b-43c4-b002-6ade4b717ef1",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2024-08-28T12:07:11.373Z",
      "updatedAt": "2024-08-28T12:07:11.373Z",
      "role": "workflow:owner",
      "workflowId": "qIxVJicmPp13wWZx",
      "projectId": "cR71BtEHrwxYg2T3",
      "project": {
        "createdAt": "2025-03-05T09:02:14.120Z",
        "updatedAt": "2025-03-05T09:02:14.120Z",
        "id": "cR71BtEHrwxYg2T3",
        "name": "jithin jithin.kumar@mileseducation.com <jithin.kumar@mileseducation.com>",
        "type": "personal",
        "icon": null,
        "projectRelations": [
          {
            "createdAt": "2025-03-05T09:02:14.123Z",
            "updatedAt": "2025-03-05T09:02:14.123Z",
            "role": "project:personalOwner",
            "userId": "f51de756-6885-4866-9956-6527c235116c",
            "projectId": "cR71BtEHrwxYg2T3",
            "user": {
              "createdAt": "2023-08-04T07:13:39.569Z",
              "updatedAt": "2025-03-27T08:36:36.628Z",
              "id": "f51de756-6885-4866-9956-6527c235116c",
              "email": "jithin.kumar@mileseducation.com",
              "firstName": "jithin",
              "lastName": "jithin.kumar@mileseducation.com",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2023-08-04T07:16:29.938Z",
                "personalization_survey_n8n_version": "1.1.1"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "AI5qL0olh221f3jV",
                "isOnboarded": true,
                "userActivatedAt": 1741165335002,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1743064591892
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false,
              "isOwner": true
            }
          }
        ]
      }
    }
  ],
  "tags": []
}