backup_News_Drop_ki9Dt2w9bjHLAA1K.json
{
  "createdAt": "2025-04-06T14:01:19.744Z",
  "updatedAt": "2025-04-07T05:44:31.000Z",
  "id": "ki9Dt2w9bjHLAA1K",
  "name": "News Drop",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -220,
        0
      ],
      "id": "e74a176a-35c0-4b4c-bd55-677b228a8640",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "event_newsdata",
          "mode": "list",
          "cachedResultName": "event_newsdata"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "active",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        100,
        0
      ],
      "id": "d0af8a2d-a501-49df-9b96-f2b1d6a8ca1e",
      "name": "Postgres",
      "credentials": {
        "postgres": {
          "id": "iOOTVit15R9PSjWX",
          "name": "Milesone-Production(DO NOT TOUCH)"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "event_newsdata",
          "mode": "list",
          "cachedResultName": "event_newsdata"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "article_url",
              "value": "={{ $json.article_url }}"
            },
            {
              "column": "id",
              "condition": "!=",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        840,
        20
      ],
      "id": "a02969b8-e683-452d-88a0-69ac68894885",
      "name": "Postgres1",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "iOOTVit15R9PSjWX",
          "name": "Milesone-Production(DO NOT TOUCH)"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "event_newsdata",
          "mode": "list",
          "cachedResultName": "event_newsdata"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1840,
        20
      ],
      "id": "6e46ffb3-5c57-45cf-af17-ea5358fafa0d",
      "name": "Postgres2",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "iOOTVit15R9PSjWX",
          "name": "Milesone-Production(DO NOT TOUCH)"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        420,
        0
      ],
      "id": "deaa0854-fe82-4cf2-819c-d2b716b16995",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1200,
        0
      ],
      "id": "ae1f993f-61dd-4ec2-9c06-255a482aa034",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "event_newsstatus",
          "mode": "list",
          "cachedResultName": "event_newsstatus"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "news_id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1520,
        20
      ],
      "id": "1beb6cf7-c0ff-4df5-98cb-e04e4be611f3",
      "name": "Postgres5",
      "credentials": {
        "postgres": {
          "id": "iOOTVit15R9PSjWX",
          "name": "Milesone-Production(DO NOT TOUCH)"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Postgres1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Postgres5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres5": {
      "main": [
        [
          {
            "node": "Postgres2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "ee1c3f76-9971-4ef8-a31e-46964ff6f27f",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-04-06T14:01:19.757Z",
      "updatedAt": "2025-04-06T14:01:19.757Z",
      "role": "workflow:owner",
      "workflowId": "ki9Dt2w9bjHLAA1K",
      "projectId": "cR71BtEHrwxYg2T3",
      "project": {
        "createdAt": "2025-03-05T09:02:14.120Z",
        "updatedAt": "2025-03-05T09:02:14.120Z",
        "id": "cR71BtEHrwxYg2T3",
        "name": "jithin jithin.kumar@mileseducation.com <jithin.kumar@mileseducation.com>",
        "type": "personal",
        "icon": null,
        "projectRelations": [
          {
            "createdAt": "2025-03-05T09:02:14.123Z",
            "updatedAt": "2025-03-05T09:02:14.123Z",
            "role": "project:personalOwner",
            "userId": "f51de756-6885-4866-9956-6527c235116c",
            "projectId": "cR71BtEHrwxYg2T3",
            "user": {
              "createdAt": "2023-08-04T07:13:39.569Z",
              "updatedAt": "2025-03-27T08:36:36.628Z",
              "id": "f51de756-6885-4866-9956-6527c235116c",
              "email": "jithin.kumar@mileseducation.com",
              "firstName": "jithin",
              "lastName": "jithin.kumar@mileseducation.com",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2023-08-04T07:16:29.938Z",
                "personalization_survey_n8n_version": "1.1.1"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "AI5qL0olh221f3jV",
                "isOnboarded": true,
                "userActivatedAt": 1741165335002,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1743064591892
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false,
              "isOwner": true
            }
          }
        ]
      }
    }
  ],
  "tags": []
}