backup_Reminder_Office_Visit___D_1_nRiOMpqswrqytemJ.json
{
  "createdAt": "2025-04-21T09:50:38.328Z",
  "updatedAt": "2025-05-12T08:53:23.000Z",
  "id": "nRiOMpqswrqytemJ",
  "name": "Reminder Office Visit - D-1",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'nextDay' to the JSON of each one with the current day plus one day\nfor (const item of $input.all()) {\n  // Get the current date\n  const currentDate = new Date();\n  currentDate.setHours(currentDate.getHours() + 5);\n  currentDate.setMinutes(currentDate.getMinutes() + 30);\n  \n  // Add one day to the current date\n  currentDate.setDate(currentDate.getDate() + 1);\n  \n  // Format the date as yyyy-MM-dd\n  const formattedDate = formatDate(currentDate);\n  \n  // Add the new field to the JSON of the current item\n  item.json.nextDay = formattedDate;\n}\n\n// Return the modified items\nreturn $input.all();\n\n// Function to format date to yyyy-MM-dd\nfunction formatDate(date) {\n  const year = date.getFullYear();\n  const month = (date.getMonth() + 1).toString().padStart(2, '0');\n  const day = date.getDate().toString().padStart(2, '0');\n\n  return `${year}-${month}-${day}`;\n}\n"
      },
      "id": "a2cb9eb2-cc8e-405a-afc5-b15dc7b82a72",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1660,
        620
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT vo.*,ld.phone,cl.*,ld.first_name,ml.*,ld.education_qualification,ld.intrested_in,ld.course,ld.email\nFROM visit_office as vo left join leads_dump as ld on ld.id=vo.leads_dump_id left join course_list as cl on cl.id = ld.course left join miles_locations as ml on ml.location_name = vo.city \nWHERE Date(vo.time_slots)=' \n{{$input.item.json.nextDay}}\n';",
        "options": {}
      },
      "id": "61128dd4-7483-403e-b94a-808da9c58c77",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [
        -1460,
        620
      ],
      "credentials": {
        "postgres": {
          "id": "0EOENO57r9a8GGbk",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.success == true }}"
            }
          ]
        }
      },
      "id": "00505a69-8817-4c6f-8d4c-14a26a779ec1",
      "name": "IF2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1260,
        620
      ]
    },
    {
      "parameters": {
        "phoneNumberId": "171009622770823",
        "recipientPhoneNumber": "={{ $json.phone }}",
        "template": "cpa_util_d1_reminder|en",
        "components": {
          "component": [
            {
              "bodyParameters": {
                "parameter": [
                  {
                    "text": "={{ $json.first_name }}"
                  }
                ]
              }
            },
            {
              "type": "header",
              "headerParameters": {
                "parameter": [
                  {
                    "type": "image",
                    "imageLink": "https://one.mileseducation.us/storage/v1/object/public/wa_assets/CPA%20Banner%2006-01%20(1).jpg"
                  }
                ]
              }
            }
          ]
        }
      },
      "id": "567c8fc7-af07-47d3-b418-96301adff50c",
      "name": "WhatsApp Business Cloud",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -240,
        -220
      ],
      "webhookId": "241bed2d-66cb-4e70-8b25-e41765b1a9a5",
      "credentials": {
        "whatsAppApi": {
          "id": "JPvNp2kC4SudtNkr",
          "name": "Primary | Marketing Miles Education"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "0faae8fd-edf4-49e8-8aba-d77c89547200",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        -1000,
        520
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "message",
              "value": "103_reminder_1day_ago_new"
            }
          ]
        },
        "options": {}
      },
      "id": "8811bee1-1a91-495a-b4d7-424ef728a379",
      "name": "Set6",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        0,
        -220
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://webhook.miles-api.com/webhook/create-send-message",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"camp_id\":352,\n    \"message_id\":\"{{ $json.messages[0].id }}\",\n    \"message\":\"{{ $json.message }}\",\n    \"mobile\":{{ $json.contacts[0].wa_id }},\n    \"sender_id\":917338649613,\n\"lead_dump_id\":{{ $('Split In Batches').item.json.leads_dump_id }},\n\"template\":\"103_reminder_1day_ago\"\n}",
        "options": {}
      },
      "id": "a13c68cb-62d1-4a52-8ca6-14e68061bc65",
      "name": "HTTP Request14",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        180,
        -220
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.course }}",
              "value2": "2"
            }
          ]
        }
      },
      "id": "0f25914a-9555-4149-a6b1-595d29ac75c5",
      "name": "IF3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -600,
        180
      ]
    },
    {
      "parameters": {
        "phoneNumberId": "171009622770823",
        "recipientPhoneNumber": "={{ $json.phone }}",
        "template": "cma_util_d1_reminder|en",
        "components": {
          "component": [
            {
              "bodyParameters": {
                "parameter": [
                  {
                    "text": "={{ $json.first_name }}"
                  }
                ]
              }
            },
            {
              "type": "header",
              "headerParameters": {
                "parameter": [
                  {
                    "type": "image",
                    "imageLink": "https://one.mileseducation.us/storage/v1/object/public/wa_assets/CMA%20Banner%2006-01%20(1).jpg"
                  }
                ]
              }
            }
          ]
        }
      },
      "id": "a30e80a7-e22f-489e-bac3-80cc99c17681",
      "name": "WhatsApp Business Cloud1",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -340,
        280
      ],
      "webhookId": "315f2585-5be9-4729-8b8a-940c34674de6",
      "credentials": {
        "whatsAppApi": {
          "id": "JPvNp2kC4SudtNkr",
          "name": "Primary | Marketing Miles Education"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "message",
              "value": "203_reminder_1day_ago_new"
            }
          ]
        },
        "options": {}
      },
      "id": "702c778a-d88b-49d9-8b15-92eb7149d656",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -100,
        280
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://webhook.miles-api.com/webhook/create-send-message",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"camp_id\":352,\n    \"message_id\":\"{{ $json.messages[0].id }}\",\n    \"message\":\"{{ $json.message }}\",\n    \"mobile\":{{ $json.contacts[0].wa_id }},\n    \"sender_id\":917338649613,\n\"lead_dump_id\":{{ $('Split In Batches').item.json.leads_dump_id }},\n\"template\":\"203_reminder_1day_ago\"\n}",
        "options": {}
      },
      "id": "4e1d397f-d27a-4489-9405-4c136fe16d1e",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        80,
        280
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.course == 2 || $json.course == 3  }}",
              "value2": true
            }
          ]
        }
      },
      "id": "30b8e6f0-0d71-468e-8f95-aeaa501b060d",
      "name": "IF6",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -800,
        480
      ]
    },
    {
      "parameters": {
        "phoneNumberId": "171009622770823",
        "recipientPhoneNumber": "={{ $json.phone }}",
        "template": "usp_util_d1_reminder|en",
        "components": {
          "component": [
            {
              "bodyParameters": {
                "parameter": [
                  {
                    "text": "={{ $json.first_name }}"
                  }
                ]
              }
            },
            {
              "type": "header",
              "headerParameters": {
                "parameter": [
                  {
                    "type": "image",
                    "imageLink": "https://one.mileseducation.us/storage/v1/object/public/wa_assets/USP-6_1-100.jpg"
                  }
                ]
              }
            }
          ]
        }
      },
      "id": "e6606b0c-2514-489f-a4fa-1a9e2eaab9a7",
      "name": "WhatsApp Business Cloud5",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -200,
        1020
      ],
      "webhookId": "6f4bdfe4-dbf2-44ad-aeeb-43f6a8d9d7e3",
      "credentials": {
        "whatsAppApi": {
          "id": "JPvNp2kC4SudtNkr",
          "name": "Primary | Marketing Miles Education"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://webhook.miles-api.com/webhook/create-send-message",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"camp_id\":352,\n    \"message_id\":\"{{ $json.messages[0].id }}\",\n    \"message\":\"{{ $json.message ?? \"703_reminder_1day_ago\" }}\",\n    \"mobile\":{{ $json.contacts[0].wa_id }},\n    \"sender_id\":917338649613,\n\"lead_dump_id\":{{ $('Split In Batches').item.json.leads_dump_id }},\n\"template\":\"703_reminder_1day_ago\"\n}",
        "options": {}
      },
      "id": "7d63f2cf-80a0-4914-916d-214e24f2babc",
      "name": "HTTP Request17",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        220,
        1020
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.course }}",
              "value2": "9"
            }
          ]
        }
      },
      "id": "8a15b121-e03c-41f5-8c58-a1ff618c9560",
      "name": "IF7",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -560,
        1460
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "message",
              "value": "203_reminder_1day_ago_usp"
            }
          ]
        },
        "options": {}
      },
      "id": "f13a8e9a-0929-4ca7-bfca-a098c12ef13c",
      "name": "Set3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -40,
        1520
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://webhook.miles-api.com/webhook/create-send-message",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"camp_id\":352,\n    \"message_id\":\"{{ $json.messages[0].id }}\",\n    \"message\":\"{{ $json.message }}\",\n    \"mobile\":{{ $json.contacts[0].wa_id }},\n    \"sender_id\":917338649613,\n\"lead_dump_id\":{{ $('Split In Batches').item.json.leads_dump_id }},\n\"template\":\"203_reminder_1day_ago\"\n}",
        "options": {}
      },
      "id": "0dd3aefe-2291-4348-897c-12e740a84519",
      "name": "HTTP Request3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        140,
        1520
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "message",
              "value": "703_reminder_1day_ago"
            }
          ]
        },
        "options": {}
      },
      "id": "ad9c9908-b927-4221-92f6-f89b8663ea03",
      "name": "Set5",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        40,
        1020
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "phoneNumberId": "171009622770823",
        "recipientPhoneNumber": "={{ $json.phone }}",
        "template": "ea_util_d1_reminder|en",
        "components": {
          "component": [
            {
              "bodyParameters": {
                "parameter": [
                  {
                    "text": "={{ $json.first_name }}"
                  }
                ]
              }
            },
            {
              "type": "header",
              "headerParameters": {
                "parameter": [
                  {
                    "type": "image",
                    "imageLink": "https://one.mileseducation.us/storage/v1/object/public/wa_assets/CPA%20Banner%2006-01%20(1).jpg"
                  }
                ]
              }
            }
          ]
        }
      },
      "id": "2bcc2ebf-a8e2-4598-9e6a-26f03e71b6e8",
      "name": "WhatsApp Business Cloud2",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -280,
        1520
      ],
      "webhookId": "4d114c79-1523-4f1f-a694-0b4cf2884529",
      "credentials": {
        "whatsAppApi": {
          "id": "JPvNp2kC4SudtNkr",
          "name": "Primary | Marketing Miles Education"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "template": "usp-office-visit-d-1",
        "fromEmail": "info@mileseducation.com",
        "toEmail": "={{ $('Postgres').item.json.email }}",
        "options": {
          "subject": "Get Ready for Our Meeting—Here’s What You Should Know! 😊"
        },
        "mergeVarsUi": {
          "mergeVarsValues": [
            {
              "name": "FNAME",
              "content": "={{ $('Postgres').item.json.first_name }}"
            }
          ]
        }
      },
      "id": "02eda9e0-cb59-4236-a78f-fa532d5cfb58",
      "name": "Mandrill",
      "type": "n8n-nodes-base.mandrill",
      "typeVersion": 1,
      "position": [
        -20,
        1280
      ],
      "credentials": {
        "mandrillApi": {
          "id": "t5XAtcUI45PwVrj0",
          "name": "Mandrill account"
        }
      }
    },
    {
      "parameters": {
        "template": "ea-office-visit-d-1",
        "fromEmail": "info@mileseducation.com",
        "toEmail": "={{ $('Postgres').item.json.email }}",
        "options": {
          "subject": "Get Ready for Our Meeting—Here’s What You Should Know! 😊"
        },
        "mergeVarsUi": {
          "mergeVarsValues": [
            {
              "name": "FNAME",
              "content": "={{ $('Postgres').item.json.first_name }}"
            }
          ]
        }
      },
      "id": "a15cce0e-fe6a-498d-9643-24e90fb0eb1c",
      "name": "Mandrill1",
      "type": "n8n-nodes-base.mandrill",
      "typeVersion": 1,
      "position": [
        -20,
        1780
      ],
      "credentials": {
        "mandrillApi": {
          "id": "t5XAtcUI45PwVrj0",
          "name": "Mandrill account"
        }
      }
    },
    {
      "parameters": {
        "template": "cma-office-visit-d-1",
        "fromEmail": "info@mileseducation.com",
        "toEmail": "={{ $('Postgres').item.json.email }}",
        "options": {
          "subject": "Get Ready for Our Meeting—Here’s What You Should Know! 😊"
        },
        "mergeVarsUi": {
          "mergeVarsValues": [
            {
              "name": "FNAME",
              "content": "={{ $('Postgres').item.json.first_name }}"
            }
          ]
        }
      },
      "id": "9b2ebd8a-51ef-4844-81d3-2cef5d67632a",
      "name": "Mandrill2",
      "type": "n8n-nodes-base.mandrill",
      "typeVersion": 1,
      "position": [
        -40,
        500
      ],
      "credentials": {
        "mandrillApi": {
          "id": "t5XAtcUI45PwVrj0",
          "name": "Mandrill account"
        }
      }
    },
    {
      "parameters": {
        "template": "cpa-office-visit-d-1",
        "fromEmail": "info@mileseducation.com",
        "toEmail": "={{ $('Postgres').item.json.email }}",
        "options": {
          "subject": "Get Ready for Our Meeting—Here’s What You Should Know! 😊"
        },
        "mergeVarsUi": {
          "mergeVarsValues": [
            {
              "name": "FNAME",
              "content": "={{ $('Postgres').item.json.first_name }}"
            }
          ]
        }
      },
      "id": "04585d63-5272-4175-88d5-3e819a5b8b2a",
      "name": "Mandrill3",
      "type": "n8n-nodes-base.mandrill",
      "typeVersion": 1,
      "position": [
        -20,
        20
      ],
      "credentials": {
        "mandrillApi": {
          "id": "t5XAtcUI45PwVrj0",
          "name": "Mandrill account"
        }
      }
    },
    {
      "parameters": {},
      "id": "0dba7323-11df-45a9-995a-248e630671cc",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2180,
        400
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 20
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2160,
        1080
      ],
      "id": "a888550b-c2fa-4720-97ef-78fae4afb0bb",
      "name": "Schedule Trigger"
    }
  ],
  "connections": {
    "Code": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "IF2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF2": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Business Cloud": {
      "main": [
        [
          {
            "node": "Set6",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mandrill3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "IF6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set6": {
      "main": [
        [
          {
            "node": "HTTP Request14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request14": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF3": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WhatsApp Business Cloud1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Business Cloud1": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mandrill2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF6": {
      "main": [
        [
          {
            "node": "IF3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Business Cloud5": {
      "main": [
        [
          {
            "node": "Set5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mandrill",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request17": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF7": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WhatsApp Business Cloud2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set3": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set5": {
      "main": [
        [
          {
            "node": "HTTP Request17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Business Cloud2": {
      "main": [
        [
          {
            "node": "Set3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mandrill1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Kolkata",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "JugK3JVukMVLS3ax"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "e3e26967-a4e7-4f7f-b004-edf9d35c88f0",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-04-21T09:50:38.367Z",
      "updatedAt": "2025-04-21T09:50:38.367Z",
      "role": "workflow:owner",
      "workflowId": "nRiOMpqswrqytemJ",
      "projectId": "cR71BtEHrwxYg2T3",
      "project": {
        "createdAt": "2025-03-05T09:02:14.120Z",
        "updatedAt": "2025-03-05T09:02:14.120Z",
        "id": "cR71BtEHrwxYg2T3",
        "name": "jithin jithin.kumar@mileseducation.com <jithin.kumar@mileseducation.com>",
        "type": "personal",
        "icon": null,
        "projectRelations": [
          {
            "createdAt": "2025-03-05T09:02:14.123Z",
            "updatedAt": "2025-03-05T09:02:14.123Z",
            "role": "project:personalOwner",
            "userId": "f51de756-6885-4866-9956-6527c235116c",
            "projectId": "cR71BtEHrwxYg2T3",
            "user": {
              "createdAt": "2023-08-04T07:13:39.569Z",
              "updatedAt": "2025-03-27T08:36:36.628Z",
              "id": "f51de756-6885-4866-9956-6527c235116c",
              "email": "jithin.kumar@mileseducation.com",
              "firstName": "jithin",
              "lastName": "jithin.kumar@mileseducation.com",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2023-08-04T07:16:29.938Z",
                "personalization_survey_n8n_version": "1.1.1"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "AI5qL0olh221f3jV",
                "isOnboarded": true,
                "userActivatedAt": 1741165335002,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1743064591892
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false,
              "isOwner": true
            }
          }
        ]
      }
    }
  ],
  "tags": []
}