backup:v1/backup_Send_Net_Enquiry_to_MF_2_0_n0C1ZBOCfvvw2o05.json
{
  "createdAt": "2025-02-06T06:08:06.253Z",
  "updatedAt": "2025-06-11T06:07:17.000Z",
  "id": "n0C1ZBOCfvvw2o05",
  "name": "Send Net Enquiry to MF 2.0",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "793d9a90-783b-4cb6-824b-ee116042f0dd",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        440,
        340
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1j6kb-RZIiRxk8_IcMKG2yGsnlY0UDbkuaCRBcTRezUI/edit?gid=720392921#gid=720392921",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 720392921,
          "mode": "list",
          "cachedResultName": "All",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1j6kb-RZIiRxk8_IcMKG2yGsnlY0UDbkuaCRBcTRezUI/edit#gid=720392921"
        },
        "options": {}
      },
      "id": "40f4916b-e616-40d2-b3a4-222dd04467c2",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        720,
        340
      ],
      "credentials": {
        "googleApi": {
          "id": "aiCprsG1ZRAOjrNn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "9b7c3f04-bff3-4a3e-b3e5-f3fa0c19dadb",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        1040,
        340
      ]
    },
    {
      "parameters": {
        "jsCode": "const minDelay = 10000; // 1 second\nconst maxDelay = 50000; // 5 seconds\n\nconst randomDelay = (Math.floor(Math.random() * (maxDelay - minDelay + 1)) + minDelay)/1122;\n\nconsole.log(`Delaying execution by ${randomDelay}ms`);\n\nawait new Promise(resolve => setTimeout(resolve, randomDelay));\n\nreturn [{ json: { randomDelay } }]; // Correct format for n8n\n"
      },
      "id": "b4f3c531-a107-4477-8662-465821988019",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        320
      ]
    },
    {
      "parameters": {
        "amount": "={{ $json.randomDelay }}",
        "unit": "seconds"
      },
      "id": "5c7f3c20-6fdf-4fba-9a15-e4eb68794cd1",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1720,
        320
      ],
      "webhookId": "d52b16aa-1f5c-4f8c-8d7f-65ac95d4c7ae"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mfx-prod-154625965269.asia-south1.run.app/enquiries/add",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"first_name\":\"{{ $('Split In Batches').item.json.first_name }}\",\n\"phone\":\"{{ $('Split In Batches').item.json.phone.toString().slice(2) }}\",\n\"contact_number\":\"{{ $('Split In Batches').item.json.phone.toString().slice(2) }}\",\n\"course_id\": {{ $('Split In Batches').item.json.course_id }},\n\"whatsapp_opt_in\":true,\n\"educational_qualification\":null,\n\"campaign_id\":{{ $('Split In Batches').item.json[\"campaign_id\"] }},\n\"register_for_webinar\":true,\n\"coming_from\": \"wati_{{ $('Split In Batches').item.json.campaign_id }}\"\n}",
        "options": {}
      },
      "id": "a287468e-04ba-494b-ae33-1316662387a4",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2200,
        320
      ],
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "campaign",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $('Split In Batches').item.json.camp_id }}"
            }
          ]
        }
      },
      "id": "dab2dc7a-cd54-4eb4-8fe1-3b3736a1afb9",
      "name": "Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1860,
        -240
      ],
      "credentials": {
        "supabaseApi": {
          "id": "6stEFLC7gtftREcf",
          "name": "Supabase Campaign manager"
        }
      }
    },
    {
      "parameters": {
        "content": "Add if supabase id is passed in camp_id"
      },
      "id": "b3a31e41-2c0e-4b83-bda4-6e865a2d865f",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1700,
        -300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mfx-prod-154625965269.asia-south1.run.app/enquiries/add",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"first_name\":\"{{ $('Split In Batches').item.json[\"name\"]}}\",\n\"last_name\":\"{{ $('Split In Batches').item.json[\"name\"] }}\",\n\"phone\":\"+91{{ $('Split In Batches').item.json[\"phone\"] }}\",\n\"contact_number\":\"+91{{$('Split In Batches').item.json[\"phone\"] }}\",\n\"email\":\"{{$('Split In Batches').item.json[\"email\"] }}\",\n\"course_id\":3,\n\"whatsapp_opt_in\":true,\n\"educational_qualification\":null,\n\"campaign_id\":{{ $json[\"mf2_camp_id\"] }},\n\"interested_webinar_id\": 24,\n\"register_for_webinar\":true,\n\"coming_from\": \"manual_upload_feb_12\"\n}",
        "options": {}
      },
      "id": "a1d2f494-8da7-4348-971f-a34ba5a40dce",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2140,
        -240
      ],
      "retryOnFail": true
    },
    {
      "parameters": {
        "content": "Use this is MF2 campaign id is passed"
      },
      "id": "b6ab4687-30a1-4b1a-8493-1fbda5976227",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2180,
        260
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json['Present in MF'] }}",
              "operation": "notEqual",
              "value2": "Correctly Mapped"
            }
          ]
        }
      },
      "id": "38a0467f-f4c0-48b4-9637-66e5ff410849",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        560,
        980
      ]
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "net_enquiry",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "whatsapp_opt_in": true,
            "register_for_webinar": false,
            "intrested_to_work_in_us": false,
            "created_at": "2024-10-10T01:28:00",
            "first_name": "L.k.kishore",
            "phone": "+919003273579",
            "email": "lk.kishore6@gmail.com",
            "program_id": 2
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created_by",
              "displayName": "created_by",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "updated_by",
              "displayName": "updated_by",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "first_name",
              "displayName": "first_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_name",
              "displayName": "last_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "coming_from",
              "displayName": "coming_from",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "gcl_id",
              "displayName": "gcl_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "whatsapp_opt_in",
              "displayName": "whatsapp_opt_in",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "register_for_webinar",
              "displayName": "register_for_webinar",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "intrested_to_work_in_us",
              "displayName": "intrested_to_work_in_us",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "page_full_url",
              "displayName": "page_full_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "url_page_path",
              "displayName": "url_page_path",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "linkedin_url",
              "displayName": "linkedin_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "isFromWelcomeBack",
              "displayName": "isFromWelcomeBack",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "uuid",
              "displayName": "uuid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "program_id",
              "displayName": "program_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "campaign_id",
              "displayName": "campaign_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "educationQualificationId",
              "displayName": "educationQualificationId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "leadId",
              "displayName": "leadId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2000,
        1940
      ],
      "id": "4cebc0d9-c402-4db3-a412-e16bb3e84073",
      "name": "Postgres",
      "credentials": {
        "postgres": {
          "id": "VPJUosohtvWNBW4H",
          "name": "MF Prod (DO NOT USE)"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "108019349036743",
        "recipientPhoneNumber": "+919460596406",
        "textBody": "=NE creation failed for:\n{{ $('Split In Batches').item.json.row_number }}\n{{ $('Split In Batches').item.json.email }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1940,
        500
      ],
      "id": "4703f2f0-e72a-4704-a108-1fdaf32cb901",
      "name": "WhatsApp Business Cloud",
      "webhookId": "2b0b1e3a-31c3-49e0-af32-f074a1f3310f",
      "credentials": {
        "whatsAppApi": {
          "id": "KHcTD6EUGATb3z0D",
          "name": "Secondary | Marketing Miles Education"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "doctors_data_push",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "pushed_to_mf",
              "condition": "eq",
              "keyValue": "false"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1060,
        1260
      ],
      "id": "abf04b9c-a4ba-45d5-bea5-ea88c586cfc2",
      "name": "Supabase1",
      "credentials": {
        "supabaseApi": {
          "id": "6stEFLC7gtftREcf",
          "name": "Supabase Campaign manager"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "doctors_data_push",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Split In Batches').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "pushed_to_mf",
              "fieldValue": "true"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2820,
        300
      ],
      "id": "a2d1844c-8c6e-431f-a41f-d17d1eb504a8",
      "name": "Supabase2",
      "credentials": {
        "supabaseApi": {
          "id": "6stEFLC7gtftREcf",
          "name": "Supabase Campaign manager"
        }
      },
      "disabled": true
    }
  ],
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        []
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        []
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Supabase2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WhatsApp Business Cloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Business Cloud": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase1": {
      "main": [
        []
      ]
    },
    "Supabase2": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "timezone": "Asia/Calcutta",
    "errorWorkflow": "JugK3JVukMVLS3ax"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "e11c5274-5d1c-47b5-9473-8534470c0b7f",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-02-06T06:08:06.257Z",
      "updatedAt": "2025-02-06T06:08:06.257Z",
      "role": "workflow:owner",
      "workflowId": "n0C1ZBOCfvvw2o05",
      "projectId": "cR71BtEHrwxYg2T3",
      "project": {
        "createdAt": "2025-03-05T09:02:14.120Z",
        "updatedAt": "2025-03-05T09:02:14.120Z",
        "id": "cR71BtEHrwxYg2T3",
        "name": "jithin jithin.kumar@mileseducation.com <jithin.kumar@mileseducation.com>",
        "type": "personal",
        "icon": null,
        "projectRelations": [
          {
            "createdAt": "2025-03-05T09:02:14.123Z",
            "updatedAt": "2025-03-05T09:02:14.123Z",
            "role": "project:personalOwner",
            "userId": "f51de756-6885-4866-9956-6527c235116c",
            "projectId": "cR71BtEHrwxYg2T3",
            "user": {
              "createdAt": "2023-08-04T07:13:39.569Z",
              "updatedAt": "2025-03-27T08:36:36.628Z",
              "id": "f51de756-6885-4866-9956-6527c235116c",
              "email": "jithin.kumar@mileseducation.com",
              "firstName": "jithin",
              "lastName": "jithin.kumar@mileseducation.com",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2023-08-04T07:16:29.938Z",
                "personalization_survey_n8n_version": "1.1.1"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "AI5qL0olh221f3jV",
                "isOnboarded": true,
                "userActivatedAt": 1741165335002,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1743064591892
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false,
              "isOwner": true
            }
          }
        ]
      }
    }
  ],
  "tags": []
}