backup:v1/backup_Check_for_Upcoming_Webinar_cT8vfuMK3oifhx5h.json
{
  "createdAt": "2025-06-05T20:03:57.891Z",
  "updatedAt": "2025-06-12T07:59:13.000Z",
  "id": "cT8vfuMK3oifhx5h",
  "name": "Check for Upcoming Webinar",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Metabase variable: {{days_ahead}} (number of days after today)\n-- e.g., days_ahead = 3 → fetches events for next 3 days (excluding today)\n\nWITH boundaries AS (\n  SELECT\n    -- Start of tomorrow in IST, converted to UTC\n    (DATE_TRUNC('day', (NOW() + INTERVAL '{{ $json.start_interval }} day') AT TIME ZONE 'Asia/Kolkata') AT TIME ZONE 'Asia/Kolkata' AT TIME ZONE 'UTC') AS start_utc,\n    \n    -- End date = start + {{days_ahead}} days, also in UTC\n    (DATE_TRUNC('day', (NOW() + ({{ $json.end_interval }} + 1 || ' day')::interval) AT TIME ZONE 'Asia/Kolkata') AT TIME ZONE 'Asia/Kolkata' AT TIME ZONE 'UTC') AS end_utc\n)\nSELECT \n  w.*,\n  (w.date_time AT TIME ZONE 'UTC' AT TIME ZONE 'Asia/Kolkata')::date AS ist_date\nFROM public.webinar w\nJOIN boundaries b ON\n  w.date_time >= b.start_utc AND w.date_time < b.end_utc\nwhere w.is_meet_and_greet is false\nORDER BY w.date_time;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -20,
        -120
      ],
      "id": "c245a208-a222-4532-beeb-73bbc067a4af",
      "name": "Postgres",
      "credentials": {
        "postgres": {
          "id": "UlHvqQraJFrdqkr2",
          "name": "MF Prod Read"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -380,
        -120
      ],
      "id": "3dff95df-9616-499f-975f-a64a1321fe1f",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6be2af6a-e127-47c8-9c2c-898119c75b37",
              "leftValue": "={{ $json.is_meet_and_greet }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        200,
        -120
      ],
      "id": "2b85c44e-440e-4988-8ed4-240bcefabde5",
      "name": "If"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "start_interval": 1,
          "end_interval": 1
        }
      }
    ]
  },
  "versionId": "ed4d16ce-359b-4a99-8ceb-78bbe7e6491f",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-06-05T20:03:57.897Z",
      "updatedAt": "2025-06-05T20:03:57.897Z",
      "role": "workflow:owner",
      "workflowId": "cT8vfuMK3oifhx5h",
      "projectId": "cR71BtEHrwxYg2T3",
      "project": {
        "createdAt": "2025-03-05T09:02:14.120Z",
        "updatedAt": "2025-03-05T09:02:14.120Z",
        "id": "cR71BtEHrwxYg2T3",
        "name": "jithin jithin.kumar@mileseducation.com <jithin.kumar@mileseducation.com>",
        "type": "personal",
        "icon": null,
        "projectRelations": [
          {
            "createdAt": "2025-03-05T09:02:14.123Z",
            "updatedAt": "2025-03-05T09:02:14.123Z",
            "role": "project:personalOwner",
            "userId": "f51de756-6885-4866-9956-6527c235116c",
            "projectId": "cR71BtEHrwxYg2T3",
            "user": {
              "createdAt": "2023-08-04T07:13:39.569Z",
              "updatedAt": "2025-03-27T08:36:36.628Z",
              "id": "f51de756-6885-4866-9956-6527c235116c",
              "email": "jithin.kumar@mileseducation.com",
              "firstName": "jithin",
              "lastName": "jithin.kumar@mileseducation.com",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2023-08-04T07:16:29.938Z",
                "personalization_survey_n8n_version": "1.1.1"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "AI5qL0olh221f3jV",
                "isOnboarded": true,
                "userActivatedAt": 1741165335002,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1743064591892
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false,
              "isOwner": true
            }
          }
        ]
      }
    }
  ],
  "tags": []
}