backup:v1/backup_Office_Visit_Reminder_D_Day_5q5mW4iyTeR4FkJ8.json
{
  "createdAt": "2025-05-07T18:32:23.428Z",
  "updatedAt": "2025-06-05T19:57:18.000Z",
  "id": "5q5mW4iyTeR4FkJ8",
  "name": "Office Visit Reminder D Day",
  "active": true,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -200,
        -400
      ],
      "id": "d519d037-6ece-47ee-a0bd-87b4c4c79c5e",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT DISTINCT ON (\"Phone\".\"phoneNumber\")\n  \"Phone\".\"phoneNumber\" AS \"phone\",\n  \"Lead\".\"id\" AS \"lead_id\",\n   \"Lead\".\"uuid\" AS \"uuid\",\n  \"Email\".\"email\" AS \"email\",\n  \"Lead\".\"first_name\" AS \"first_name\",\n    \"public\".\"office_visit\".\"google_meet_link\" AS \"google_meet_link\",\n  DATE_TRUNC('minute', \"public\".\"office_visit\".\"visit_date\") AS \"visit_date\",\n  \"public\".\"office_visit\".\"schedule\" AS \"schedule\",\n  \"public\".\"office_visit\".\"visitCityId\" AS \"visitCityId\"\nFROM\n  \"public\".\"office_visit\"\nLEFT JOIN \"public\".\"lead\" AS \"Lead\" ON \"public\".\"office_visit\".\"lead_id\" = \"Lead\".\"id\"\nLEFT JOIN \"public\".\"phone\" AS \"Phone\" ON \"Lead\".\"id\" = \"Phone\".\"leadId\"\nLEFT JOIN \"public\".\"email\" AS \"Email\" ON \"Lead\".\"id\" = \"Email\".\"leadId\"\nWHERE\n  \"public\".\"office_visit\".\"visit_date\" >= CAST(CAST((NOW()) AS date) AS timestamptz)\n  AND \"public\".\"office_visit\".\"visit_date\" < CAST(CAST((NOW() + INTERVAL '1 day') AS date) AS timestamptz)\n  AND \"Phone\".\"isWhatsAppNumber\" = TRUE\nORDER BY\n  \"Phone\".\"phoneNumber\",\n  DATE_TRUNC('minute', \"public\".\"office_visit\".\"visit_date\") DESC",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        20,
        -600
      ],
      "id": "5c81d105-0757-411c-929a-b5039e6c37f4",
      "name": "Postgres",
      "credentials": {
        "postgres": {
          "id": "UlHvqQraJFrdqkr2",
          "name": "MF Prod Read"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f0eeccba-c024-4666-80c7-db9e9273442b",
              "name": "phone",
              "value": "={{ $('Loop Over Items').item.json.phone }}",
              "type": "string"
            },
            {
              "id": "d69a93f3-8191-4bf4-9550-739cce1c3897",
              "name": "lead_id",
              "value": "={{ $('Loop Over Items').item.json.lead_id }}",
              "type": "number"
            },
            {
              "id": "72d8f6ec-f749-4db2-81c7-a92467b7329d",
              "name": "uuid",
              "value": "={{ $('Loop Over Items').item.json.uuid }}",
              "type": "string"
            },
            {
              "id": "9fa3f8c2-c333-4c0a-90b1-654439fcbd8d",
              "name": "first_name",
              "value": "={{ $('Loop Over Items').item.json.first_name }}",
              "type": "string"
            },
            {
              "id": "0378bbc2-0ac9-4e7c-818d-cb10f58a8bd1",
              "name": "email",
              "value": "={{ $('Loop Over Items').item.json.email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        720,
        -440
      ],
      "id": "4c590838-7b1f-4d98-a9c4-f5c53bc3a998",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        240,
        -600
      ],
      "id": "0ef39005-9b42-4e84-b8d2-c6c21de00595",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "miles_office",
          "mode": "name"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $json.visitCityId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        500,
        -440
      ],
      "id": "103c3543-1a4d-49be-b7b2-643c367a724d",
      "name": "Postgres1",
      "credentials": {
        "postgres": {
          "id": "UlHvqQraJFrdqkr2",
          "name": "MF Prod Read"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "lOgLi51AQQR2VRrS",
          "mode": "list",
          "cachedResultName": "NEW Send Contact to Netcore"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        960,
        -440
      ],
      "id": "3cb8f320-ff9b-42db-9471-b72e241f6a9b",
      "name": "Send Contact to Netcore"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "MYduhGIhCmgTaVQu",
          "mode": "list",
          "cachedResultName": "(NEW) Send Activity to Netcore"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1440,
        -440
      ],
      "id": "582bf0e8-6506-40a5-b8f2-650d862e3eb9",
      "name": "Send Activity to Netcore"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bfac5b39-51ca-4b34-a863-94354028a8c0",
              "name": "event_name",
              "value": "office_visit_reminder_d_day",
              "type": "string"
            },
            {
              "id": "7f12661f-908a-49be-9833-5683294766a6",
              "name": "first_name",
              "value": "={{ $('Loop Over Items').item.json.first_name }}",
              "type": "string"
            },
            {
              "id": "d87ddac7-7a02-4f79-b644-ac0236d849b7",
              "name": "uuid",
              "value": "={{ $json.uuid }}",
              "type": "string"
            },
            {
              "id": "ea7bd06e-b8bb-4b99-aff5-5fc15f4daffb",
              "name": "email",
              "value": "={{ $json.email }}",
              "type": "string"
            },
            {
              "id": "b46fa980-1422-4146-9613-f43f21765b2f",
              "name": "phone",
              "value": "={{ $json.phone }}",
              "type": "string"
            },
            {
              "id": "fb90cac9-2c77-4fec-b5bc-9538a976efe4",
              "name": "visit_date",
              "value": "={{ $('Loop Over Items').item.json.visit_date }}",
              "type": "string"
            },
            {
              "id": "30009d33-3d38-472b-a432-76b81f962b70",
              "name": "schedule",
              "value": "={{ $('Loop Over Items').item.json.schedule }}",
              "type": "string"
            },
            {
              "id": "677da69e-1126-4670-9f0c-761801c501d5",
              "name": "lead_id",
              "value": "={{ $('Loop Over Items').item.json.lead_id }}",
              "type": "number"
            },
            {
              "id": "9c27f4ee-46da-4e1a-9c86-92774299c92a",
              "name": "maps_link",
              "value": "={{ $('Postgres1').item.json.location_url ?? \"Virtual\" }}",
              "type": "string"
            },
            {
              "id": "50410257-66ff-4837-8c73-5ba878712912",
              "name": "city",
              "value": "={{ $('Postgres1').item.json.city ?? \"Virtual\"}}",
              "type": "string"
            },
            {
              "id": "ce1fe129-0e06-4940-a93c-41f720a69a2d",
              "name": "google_meet_link",
              "value": "={{ $('Loop Over Items').item.json.google_meet_link ?? \"Offline\" }}",
              "type": "string"
            },
            {
              "id": "458839bf-ca26-4e02-8835-f8b2f6772089",
              "name": "visit_type",
              "value": "={{ $('Loop Over Items').item.json.schedule == 1 ? \"google_meet\" : \"office_visit\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1180,
        -440
      ],
      "id": "68c7bed4-b59c-4c66-8cd0-9ad88a9df119",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 3 8 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -240,
        -860
      ],
      "id": "42e80e94-940f-47cb-935f-7f27f65d1a8a",
      "name": "Schedule Trigger"
    }
  ],
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send Contact to Netcore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Postgres1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Contact to Netcore": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Send Activity to Netcore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Activity to Netcore": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Kolkata",
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "osaLco4lVgTtLpKH"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "8a869a76-d2f9-48b0-9b05-58263ea6c7f4",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-05-07T18:32:23.432Z",
      "updatedAt": "2025-05-07T18:32:23.432Z",
      "role": "workflow:owner",
      "workflowId": "5q5mW4iyTeR4FkJ8",
      "projectId": "cR71BtEHrwxYg2T3",
      "project": {
        "createdAt": "2025-03-05T09:02:14.120Z",
        "updatedAt": "2025-03-05T09:02:14.120Z",
        "id": "cR71BtEHrwxYg2T3",
        "name": "jithin jithin.kumar@mileseducation.com <jithin.kumar@mileseducation.com>",
        "type": "personal",
        "icon": null,
        "projectRelations": [
          {
            "createdAt": "2025-03-05T09:02:14.123Z",
            "updatedAt": "2025-03-05T09:02:14.123Z",
            "role": "project:personalOwner",
            "userId": "f51de756-6885-4866-9956-6527c235116c",
            "projectId": "cR71BtEHrwxYg2T3",
            "user": {
              "createdAt": "2023-08-04T07:13:39.569Z",
              "updatedAt": "2025-03-27T08:36:36.628Z",
              "id": "f51de756-6885-4866-9956-6527c235116c",
              "email": "jithin.kumar@mileseducation.com",
              "firstName": "jithin",
              "lastName": "jithin.kumar@mileseducation.com",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2023-08-04T07:16:29.938Z",
                "personalization_survey_n8n_version": "1.1.1"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "AI5qL0olh221f3jV",
                "isOnboarded": true,
                "userActivatedAt": 1741165335002,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1743064591892
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false,
              "isOwner": true
            }
          }
        ]
      }
    }
  ],
  "tags": []
}