backup:v1/backup_Log_Sent_Message_in_supabase_5DZrYUZ8geTKJ6ZY.json
{
  "createdAt": "2025-04-28T14:29:45.782Z",
  "updatedAt": "2025-06-11T12:18:07.000Z",
  "id": "5DZrYUZ8geTKJ6ZY",
  "name": "Log Sent Message in supabase",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "Log Sent Message in supabase",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        260,
        340
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4930c49b-a9d3-4d75-9f06-ab1222b3239d",
              "name": "event_name",
              "value": "template_message_sent",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        540,
        340
      ],
      "id": "0f200b89-6ae2-4860-bfcb-82b486c8a8e2",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "tableId": "wati_template_message_id",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "leadId",
              "fieldValue": "={{ $json.lead_id }}"
            },
            {
              "fieldId": "phone",
              "fieldValue": "={{ $json.waId.slice(2) }}"
            },
            {
              "fieldId": "uuid",
              "fieldValue": "={{ $json.uuid }}"
            },
            {
              "fieldId": "localMessageid",
              "fieldValue": "={{ $('Log Sent Message in supabase').item.json.localMessageId }}"
            },
            {
              "fieldId": "template_name",
              "fieldValue": "={{ $('Log Sent Message in supabase').item.json.template_name }}"
            },
            {
              "fieldId": "campaign_id",
              "fieldValue": "={{ $('Log Sent Message in supabase').item.json.campaign_id }}"
            },
            {
              "fieldId": "isValidWhatsAppNumber",
              "fieldValue": "={{ $('Log Sent Message in supabase').item.json.isValidWhatsAppNumber }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        780,
        340
      ],
      "id": "0b03f656-aff3-4e3e-bcb3-3961118b0522",
      "name": "Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "6stEFLC7gtftREcf",
          "name": "Supabase Campaign manager"
        }
      }
    }
  ],
  "connections": {
    "Log Sent Message in supabase": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Kolkata",
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "osaLco4lVgTtLpKH"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Log Sent Message in supabase": [
      {
        "json": {
          "localMessageId": "82843023-2c22-4244-8289-00c92c41ff53",
          "waId": "916387506588",
          "templateName": "usp_welcome_message",
          "campaign_id": 1466,
          "ne_id": "725461"
        }
      }
    ]
  },
  "versionId": "6bf6c110-1bc6-4bcf-92cd-cdef5db0c0ac",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-04-28T14:29:45.785Z",
      "updatedAt": "2025-04-28T14:29:45.785Z",
      "role": "workflow:owner",
      "workflowId": "5DZrYUZ8geTKJ6ZY",
      "projectId": "cR71BtEHrwxYg2T3",
      "project": {
        "createdAt": "2025-03-05T09:02:14.120Z",
        "updatedAt": "2025-03-05T09:02:14.120Z",
        "id": "cR71BtEHrwxYg2T3",
        "name": "jithin jithin.kumar@mileseducation.com <jithin.kumar@mileseducation.com>",
        "type": "personal",
        "icon": null,
        "projectRelations": [
          {
            "createdAt": "2025-03-05T09:02:14.123Z",
            "updatedAt": "2025-03-05T09:02:14.123Z",
            "role": "project:personalOwner",
            "userId": "f51de756-6885-4866-9956-6527c235116c",
            "projectId": "cR71BtEHrwxYg2T3",
            "user": {
              "createdAt": "2023-08-04T07:13:39.569Z",
              "updatedAt": "2025-03-27T08:36:36.628Z",
              "id": "f51de756-6885-4866-9956-6527c235116c",
              "email": "jithin.kumar@mileseducation.com",
              "firstName": "jithin",
              "lastName": "jithin.kumar@mileseducation.com",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2023-08-04T07:16:29.938Z",
                "personalization_survey_n8n_version": "1.1.1"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "AI5qL0olh221f3jV",
                "isOnboarded": true,
                "userActivatedAt": 1741165335002,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1743064591892
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false,
              "isOwner": true
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "createdAt": "2025-04-29T06:36:23.362Z",
      "updatedAt": "2025-04-29T06:36:23.362Z",
      "id": "H1D37pNFvSAXh7Qg",
      "name": "supabase"
    },
    {
      "createdAt": "2025-04-29T06:35:58.186Z",
      "updatedAt": "2025-04-29T06:35:58.186Z",
      "id": "gQwLL2mDGhqlyQkZ",
      "name": "mf"
    }
  ]
}