backup:v1/backup_assign_inv_id_gVHckiMWeiSKNrfF.json
{
  "createdAt": "2024-07-31T13:52:45.835Z",
  "updatedAt": "2024-08-08T10:07:45.000Z",
  "id": "gVHckiMWeiSKNrfF",
  "name": "assign_inv_id",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "get_ga_inv_id",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "c782d348-3080-4822-83fa-0f161f4f190f",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        660,
        320
      ],
      "webhookId": "c88a259d-0388-4bbe-a161-9e782c062d37"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "temp_inv_ids",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "ga_session_id",
              "condition": "is",
              "keyValue": "=null"
            }
          ]
        }
      },
      "id": "6e53854f-cdca-42af-aa83-c25f57fb4a12",
      "name": "Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        880,
        320
      ],
      "credentials": {
        "supabaseApi": {
          "id": "6stEFLC7gtftREcf",
          "name": "Supabase Campaign manager"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "temp_inv_ids",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "ga_session_id",
              "fieldValue": "={{ $('Webhook').item.json.body.ga_session_id }}"
            },
            {
              "fieldId": "ga_client_id",
              "fieldValue": "={{ $('Webhook').item.json.body.ga_client_id }}"
            },
            {
              "fieldId": "ga_session_number",
              "fieldValue": "={{ $('Webhook').item.json.body.ga_session_number }}"
            }
          ]
        }
      },
      "id": "21f581fc-47f8-4dfa-b79c-4a6b0e9f89fe",
      "name": "Supabase1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1100,
        320
      ],
      "credentials": {
        "supabaseApi": {
          "id": "6stEFLC7gtftREcf",
          "name": "Supabase Campaign manager"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "79a36963-8cd5-420e-bb3f-972be1c82750",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1320,
        320
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "Supabase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "7af8049f-54c9-4f33-9144-0d109410f7d1",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2024-07-31T13:52:45.839Z",
      "updatedAt": "2024-07-31T13:52:45.839Z",
      "role": "workflow:owner",
      "workflowId": "gVHckiMWeiSKNrfF",
      "projectId": "cR71BtEHrwxYg2T3",
      "project": {
        "createdAt": "2025-03-05T09:02:14.120Z",
        "updatedAt": "2025-03-05T09:02:14.120Z",
        "id": "cR71BtEHrwxYg2T3",
        "name": "jithin jithin.kumar@mileseducation.com <jithin.kumar@mileseducation.com>",
        "type": "personal",
        "icon": null,
        "projectRelations": [
          {
            "createdAt": "2025-03-05T09:02:14.123Z",
            "updatedAt": "2025-03-05T09:02:14.123Z",
            "role": "project:personalOwner",
            "userId": "f51de756-6885-4866-9956-6527c235116c",
            "projectId": "cR71BtEHrwxYg2T3",
            "user": {
              "createdAt": "2023-08-04T07:13:39.569Z",
              "updatedAt": "2025-03-27T08:36:36.628Z",
              "id": "f51de756-6885-4866-9956-6527c235116c",
              "email": "jithin.kumar@mileseducation.com",
              "firstName": "jithin",
              "lastName": "jithin.kumar@mileseducation.com",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2023-08-04T07:16:29.938Z",
                "personalization_survey_n8n_version": "1.1.1"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "AI5qL0olh221f3jV",
                "isOnboarded": true,
                "userActivatedAt": 1741165335002,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1743064591892
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false,
              "isOwner": true
            }
          }
        ]
      }
    }
  ],
  "tags": []
}