backup:v1/backup_fetch_event_from_netcore__send_to_wati__fRru3WSCCxMx7ot1.json
{
  "createdAt": "2025-04-25T06:51:04.645Z",
  "updatedAt": "2025-06-06T08:01:01.000Z",
  "id": "fRru3WSCCxMx7ot1",
  "name": "fetch-event-from-netcore (send-to-wati)",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fetch-event-from-netcore",
        "authentication": "basicAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        220,
        20
      ],
      "id": "9ba234b0-5bdb-4121-873d-9568b0e9a816",
      "name": "Webhook",
      "webhookId": "9bceafd7-0f5d-4727-ad64-debaf95cc880",
      "credentials": {
        "httpBasicAuth": {
          "id": "t8TTNP93GLXakmGO",
          "name": "netcore auth"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json[\"event_params.activity_name\"] }}",
                    "rightValue": "new_enquiry_received",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "fd84afae-7fff-481e-9782-c1fc4e6df1af"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a1c62d2c-8231-4b4d-a081-906fb255f2ed",
                    "leftValue": "={{ $json[\"event_params.activity_name\"] }}",
                    "rightValue": "webinar_registration_confirmation",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "be7f8d30-92ff-4c74-8e3f-416024d92a83",
                    "leftValue": "={{ $json[\"event_params.activity_name\"] }}",
                    "rightValue": "webinar_registered_d_1_day",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a5b10ff7-17b9-45c7-8c54-a1f0bae1f0d3",
                    "leftValue": "={{ $json[\"event_params.activity_name\"] }}",
                    "rightValue": "webinar_registered_d_day",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b6a019d1-8572-4a9a-b8c7-8036cab046df",
                    "leftValue": "={{ $json[\"event_params.activity_name\"] }}",
                    "rightValue": "webinar_attended",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "52be0c78-8416-49f1-8edd-0bc8819f98b6",
                    "leftValue": "={{ $json[\"event_params.activity_name\"] }}",
                    "rightValue": "webinar_not_attended",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8903b099-898b-4e18-ad87-53002b8a0b96",
                    "leftValue": "={{ $json[\"event_params.activity_name\"] }}",
                    "rightValue": "office_visit_confirmation_v1",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "fb184296-1acb-4935-b9ae-230e2c9c8f44",
                    "leftValue": "={{ $json[\"event_params.activity_name\"] }}",
                    "rightValue": "office_visit_attended",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "dd1eeda2-3836-4bbd-ac37-4eaf22cdb04e",
                    "leftValue": "={{ $json[\"event_params.activity_name\"] }}",
                    "rightValue": "office_visit_rescheduled",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3afcad6f-bc8d-491d-a6b3-e671c40995be",
                    "leftValue": "={{ $json[\"event_params.activity_name\"] }}",
                    "rightValue": "office_visit_cancelled",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "31cdf09a-61ca-4790-a3ef-dd034ceb00e8",
                    "leftValue": "={{ $json[\"event_params.activity_name\"] }}",
                    "rightValue": "office_visit_reminder_d_1_day",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cdb1829c-2b03-43a9-8385-5838b5b12e7f",
                    "leftValue": "={{ $json[\"event_params.activity_name\"] }}",
                    "rightValue": "office_visit_reminder_d_day",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2500,
        2540
      ],
      "id": "db1a5a6c-a150-421d-8a32-3cf9d3695e88",
      "name": "Switch"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "H0GV91JEPlmSlIIw"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2940,
        2120
      ],
      "id": "b43d50c3-02dc-4151-a92e-af9bb3fd4457",
      "name": "Send Welcome Message - WATI"
    },
    {
      "parameters": {
        "jsCode": "// Step 1: Parse the stringified JSON inside body.data\nconst rawData =  $input.first().json.body.data;\nlet parsed;\n\ntry {\n  parsed = JSON.parse(rawData);\n} catch (e) {\n  throw new Error('Invalid JSON in body.data');\n}\n\nconst inputArray = parsed.mileseducationcee;\n\nif (!Array.isArray(inputArray)) {\n  throw new Error('mileseducationcee is not an array');\n}\n\n// Step 2: Helper to flatten nested objects\nfunction flattenObject(obj, parentKey = '', result = {}) {\n  for (let key in obj) {\n    const propKey = parentKey ? `${parentKey}.${key}` : key;\n    if (typeof obj[key] === 'object' && obj[key] !== null && !Array.isArray(obj[key])) {\n      flattenObject(obj[key], propKey, result);\n    } else {\n      result[propKey] = obj[key];\n    }\n  }\n  return result;\n}\n\n// Step 3: Map over the array and flatten each object\nconst output = inputArray.map(entry => {\n  return { json: flattenObject(entry) };\n});\n\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1660,
        2560
      ],
      "id": "91e98807-9d39-4526-8621-ef61c4af7a3e",
      "name": "Code"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "fLojeOek5Z4dUMAz",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2960,
        2520
      ],
      "id": "81783b93-c4ae-419e-800c-fe0f1a09397b",
      "name": "Webinar Message Sending Workflow"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "gxn5drysWMWlT7BD"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2980,
        2860
      ],
      "id": "b22eb083-37cc-46b0-8b49-1c7207d9cb09",
      "name": "Office Visit Message Sending Workflow"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1880,
        2560
      ],
      "id": "db4e738d-1c11-4a2f-b900-fcb06dc13981",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "sAmxSiSYyGj6KHlG"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1460,
        2880
      ],
      "id": "6bf59529-7eb7-4163-82e1-bca5908ccada",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "dqr4NavCVqG9EN1a",
          "cachedResultName": "(NEW) Fetch Template from Supabase"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        460,
        20
      ],
      "id": "0240e1c9-d0a2-4973-ba08-15c9f5c19491",
      "name": "Fetch Template Workflow"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Fetch Template Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send Welcome Message - WATI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Webinar Message Sending Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Webinar Message Sending Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Webinar Message Sending Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Webinar Message Sending Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Webinar Message Sending Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Office Visit Message Sending Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Office Visit Message Sending Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Office Visit Message Sending Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Office Visit Message Sending Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Office Visit Message Sending Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Office Visit Message Sending Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Welcome Message - WATI": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webinar Message Sending Workflow": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Office Visit Message Sending Workflow": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Kolkata",
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "osaLco4lVgTtLpKH"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "webhook.miles-api.com",
            "x-real-ip": "172.71.195.88",
            "x-forwarded-host": "webhook.miles-api.com",
            "x-forwarded-server": "webhook.miles-api.com",
            "x-forwarded-for": "44.199.15.1, 172.71.195.88",
            "connection": "close",
            "content-length": "1970",
            "cf-ray": "93f8aa8b2cba690e-IAD",
            "cf-connecting-ip": "44.199.15.1",
            "accept-encoding": "gzip, br",
            "x-forwarded-proto": "https",
            "content-type": "application/x-www-form-urlencoded",
            "user-agent": "Mozilla/5.0 (X11; Linux x86_64; rv:60.0) Gecko/20100101 Firefox/60.0",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "authorization": "Basic bmV0Y29yZTpuZXRjb3JlMTIz",
            "cdn-loop": "cloudflare; loops=1",
            "cf-ipcountry": "US"
          },
          "params": {},
          "query": {},
          "body": {
            "data": "{\"mileseducationcee\":[{\"webhook_name\":\"send-to-wati\",\"msgid\":\"-1\",\"payload_params\":{\"next_webinar_date\":\"May 14, 2025\",\"lead_id\":\"8439799\",\"graduation_year\":\"2024\",\"phone\":\"+917987784578\",\"campaign_id\":\"357\",\"ne_id\":\"737109\",\"email\":\"akashagrawal499@gmail.com\",\"next_webinar_time\":\"06:00 PM\",\"interested_for_work\":\"\",\"course_id\":1,\"first_name\":\"test cpa user 1\"},\"channel\":\"custom_activity\",\"event_params\":{\"activity_source\":\"\",\"activity_id\":166,\"ts\":250514125607,\"foreignkey\":\"ea5d3711-3d92-460b-9196-20dc4f45da35\",\"timestamp\":\"2025-05-14T12:56:07\",\"identity\":\"\",\"activity_name\":\"new_enquiry_received\",\"asset_id\":\"\",\"guid\":\"\"},\"att_params\":{\"MOBILE\":\"9826777682\",\"EMAIL\":\"akashagrawal499@gmail.com\"},\"journey_name\":\"New Enquiry Received v3\"},{\"webhook_name\":\"send-to-wati\",\"msgid\":\"-1\",\"payload_params\":{\"join_url\":\"\",\"registration_source\":\"2\",\"webinar_id\":\"45\",\"campaign_id\":\"\",\"webinar_time\":\"04:00 PM\",\"course_id\":\"1\",\"registration_email\":\"akashagrawal499@gmail.com\",\"webinar_date\":\"25 May, 2025\",\"first_name\":\"Akash\"},\"channel\":\"custom_activity\",\"event_params\":{\"activity_source\":\"\",\"activity_id\":165,\"ts\":250514125608,\"foreignkey\":\"ea5d3711-3d92-460b-9196-20dc4f45da35\",\"timestamp\":\"2025-05-14T12:56:08\",\"identity\":\"\",\"activity_name\":\"webinar_registration_confirmation\",\"asset_id\":\"\",\"guid\":\"\"}}]}"
          },
          "webhookUrl": "https://webhook.miles-api.com/webhook/fetch-event-from-netcore",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "127d512b-9558-4921-8bea-94cb65b9e01f",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-04-25T06:51:04.653Z",
      "updatedAt": "2025-04-25T06:51:04.653Z",
      "role": "workflow:owner",
      "workflowId": "fRru3WSCCxMx7ot1",
      "projectId": "cR71BtEHrwxYg2T3",
      "project": {
        "createdAt": "2025-03-05T09:02:14.120Z",
        "updatedAt": "2025-03-05T09:02:14.120Z",
        "id": "cR71BtEHrwxYg2T3",
        "name": "jithin jithin.kumar@mileseducation.com <jithin.kumar@mileseducation.com>",
        "type": "personal",
        "icon": null,
        "projectRelations": [
          {
            "createdAt": "2025-03-05T09:02:14.123Z",
            "updatedAt": "2025-03-05T09:02:14.123Z",
            "role": "project:personalOwner",
            "userId": "f51de756-6885-4866-9956-6527c235116c",
            "projectId": "cR71BtEHrwxYg2T3",
            "user": {
              "createdAt": "2023-08-04T07:13:39.569Z",
              "updatedAt": "2025-03-27T08:36:36.628Z",
              "id": "f51de756-6885-4866-9956-6527c235116c",
              "email": "jithin.kumar@mileseducation.com",
              "firstName": "jithin",
              "lastName": "jithin.kumar@mileseducation.com",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2023-08-04T07:16:29.938Z",
                "personalization_survey_n8n_version": "1.1.1"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "AI5qL0olh221f3jV",
                "isOnboarded": true,
                "userActivatedAt": 1741165335002,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1743064591892
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false,
              "isOwner": true
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "createdAt": "2025-04-29T06:35:04.633Z",
      "updatedAt": "2025-04-29T06:35:04.633Z",
      "id": "5KyrOm7Ex2otOT6t",
      "name": "netcore"
    },
    {
      "createdAt": "2025-04-28T13:47:05.635Z",
      "updatedAt": "2025-04-28T13:47:05.635Z",
      "id": "5trY9jUf4K12fkdk",
      "name": "wati"
    }
  ]
}