backup:v1/backup_send_to_mf_basic_details_GugY1eeS6jEFva3j.json
{
  "createdAt": "2025-04-10T07:07:42.563Z",
  "updatedAt": "2025-05-15T10:46:19.000Z",
  "id": "GugY1eeS6jEFva3j",
  "name": "send-to-mf-basic-details",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "send-to-mf-basic-details",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -540,
        -440
      ],
      "id": "705ad629-bc9d-4541-9c5a-c703495e0b64",
      "name": "Webhook",
      "webhookId": "c6137179-18f2-4325-8a84-181fb2ab8555"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n\"neId\": \"{{ $json.result.id }}\",\n\"course_id\": \"{{ $('Code').item.json.course_id }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        400,
        -180
      ],
      "id": "d8eb3771-0ae3-4d15-9c46-42e8217fc6ab",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mfx-prod-154625965269.asia-south1.run.app/enquiries/add",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"first_name\":\"{{ $json.body.name }}\",\n\"last_name\":\" \",\n\"phone\":\"+{{ $json.body.phone }}\",\n\"contact_number\":\"+{{ $json.body.phone }}\",\n\"email\":\"\",\n\"course_id\": {{ $json.course_id }},\n\"whatsapp_opt_in\":true,\n\"educational_qualification\":null,\n\"campaign_id\":{{ $json.body.campaignID.toNumber() ?? 357}},\n\"register_for_webinar\":true,\n\"coming_from\": \"wati_{{ $json.body.campaignID.toNumber() ?? 357}}\",\n\"page_full_url\": \"{{ $json.body.pageURL }}\"\n}",
        "options": {}
      },
      "id": "adff0cec-da3f-4338-b46c-48939fab4602",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        80,
        -380
      ],
      "retryOnFail": true,
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "return items.map(({ json }) => {\n  const pageUrl = $input.first().json.body.pageURL || \"\";\n  const originalMessage = $input.first().json.body.originalMessage?.toLowerCase() || \"\";\n  const combined = pageUrl + \" \" + originalMessage;\n  \n  let course_id = 1; // default\n\n  if (combined.includes('cpa')) {\n    course_id = 1;\n  } else if (combined.includes('cma')) {\n    course_id = 2;\n  } else if (combined.includes('us pathway')) {\n    course_id = 3;\n  } else if (combined.includes('doctor')) {\n    course_id = 33;\n  }\n\n  return {\n    json: {\n      ...json,\n      course_id,\n      combined\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -140,
        -200
      ],
      "id": "b76362c8-4a2b-4828-bc60-d2d6c7815440",
      "name": "Code"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Kolkata",
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "JugK3JVukMVLS3ax"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "webhook.miles-api.com",
            "x-real-ip": "172.70.147.32",
            "x-forwarded-host": "webhook.miles-api.com",
            "x-forwarded-server": "webhook.miles-api.com",
            "x-forwarded-for": "34.87.37.255, 172.70.147.32",
            "connection": "close",
            "content-length": "197",
            "cf-ray": "940207204e658956-SIN",
            "cf-connecting-ip": "34.87.37.255",
            "accept-encoding": "gzip, br",
            "x-forwarded-proto": "https",
            "content-type": "application/json; charset=UTF-8",
            "tracestate": "dd=s:0;p:316af61cc156ac7b",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "traceparent": "00-0ac874a0eec9a749ac3215ec3bdaadde-316af61cc156ac7b-00",
            "x-datadog-tags": "_dd.p.tid=0ac874a0eec9a749",
            "cdn-loop": "cloudflare; loops=1",
            "cf-ipcountry": "SG",
            "x-datadog-sampling-priority": "0",
            "x-datadog-parent-id": "3560929058752998523",
            "x-datadog-trace-id": "12408004027719790046"
          },
          "params": {},
          "query": {},
          "body": {
            "name": "karatestingfinal",
            "originalMessage": "Hello, I have a question about Miles' Courses",
            "phone": "917349296479",
            "campaignID": "1641",
            "pageURL": "https://www.mileseducation.com/accounting/us-cma"
          },
          "webhookUrl": "https://webhook.miles-api.com/webhook/send-to-mf-basic-details",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "bb393288-8e5d-450b-a66c-9a00b89a7a47",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-04-10T07:07:42.601Z",
      "updatedAt": "2025-04-10T07:07:42.601Z",
      "role": "workflow:owner",
      "workflowId": "GugY1eeS6jEFva3j",
      "projectId": "cR71BtEHrwxYg2T3",
      "project": {
        "createdAt": "2025-03-05T09:02:14.120Z",
        "updatedAt": "2025-03-05T09:02:14.120Z",
        "id": "cR71BtEHrwxYg2T3",
        "name": "jithin jithin.kumar@mileseducation.com <jithin.kumar@mileseducation.com>",
        "type": "personal",
        "icon": null,
        "projectRelations": [
          {
            "createdAt": "2025-03-05T09:02:14.123Z",
            "updatedAt": "2025-03-05T09:02:14.123Z",
            "role": "project:personalOwner",
            "userId": "f51de756-6885-4866-9956-6527c235116c",
            "projectId": "cR71BtEHrwxYg2T3",
            "user": {
              "createdAt": "2023-08-04T07:13:39.569Z",
              "updatedAt": "2025-03-27T08:36:36.628Z",
              "id": "f51de756-6885-4866-9956-6527c235116c",
              "email": "jithin.kumar@mileseducation.com",
              "firstName": "jithin",
              "lastName": "jithin.kumar@mileseducation.com",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2023-08-04T07:16:29.938Z",
                "personalization_survey_n8n_version": "1.1.1"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "AI5qL0olh221f3jV",
                "isOnboarded": true,
                "userActivatedAt": 1741165335002,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1743064591892
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false,
              "isOwner": true
            }
          }
        ]
      }
    }
  ],
  "tags": []
}