backup:v1/backup_CAL_Work_Flow_sLpOhXNsYNUaodZV.json
{
  "createdAt": "2025-04-23T12:39:50.955Z",
  "updatedAt": "2025-04-23T13:46:26.000Z",
  "id": "sLpOhXNsYNUaodZV",
  "name": "CAL Work Flow",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"event_type\"]}}",
              "operation": "equals",
              "value2": "office-visit"
            }
          ]
        }
      },
      "name": "Switch Event Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -100,
        -40
      ],
      "id": "17799a43-3e2b-4919-b0d7-e79aba1d4e8d"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "https://api.cal.com/v1/bookings",
        "options": {}
      },
      "name": "Book Office Visit",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        60,
        -300
      ],
      "id": "70597cfd-73aa-4d0f-b48f-ffa31af1ec80",
      "credentials": {
        "httpHeaderAuth": {
          "id": "br25d2HaVlyzgOT5",
          "name": "Header Auth account 4"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "https://api.cal.com/v1/bookings",
        "options": {}
      },
      "name": "Book Career Counselling",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        100,
        240
      ],
      "id": "398eba01-5b90-491c-aca2-13b22e97d26f"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -900,
        -40
      ],
      "id": "04f81910-7d40-425d-a8ee-b11205fd28df",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1yYSusjxalFUwUTwndftmljcvPZ2AT3lno1fya2RVs3s/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yYSusjxalFUwUTwndftmljcvPZ2AT3lno1fya2RVs3s/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -580,
        -40
      ],
      "id": "292629e6-fe00-42bf-854d-569e8a1e14e6",
      "name": "Google Sheets",
      "credentials": {
        "googleApi": {
          "id": "aiCprsG1ZRAOjrNn",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Switch Event Type": {
      "main": [
        [
          {
            "node": "Book Office Visit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Book Career Counselling",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Switch Event Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "d4973c73-ded8-49d6-ac73-b9be3f8010f6",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-04-23T12:39:50.959Z",
      "updatedAt": "2025-04-23T12:39:50.959Z",
      "role": "workflow:owner",
      "workflowId": "sLpOhXNsYNUaodZV",
      "projectId": "cR71BtEHrwxYg2T3",
      "project": {
        "createdAt": "2025-03-05T09:02:14.120Z",
        "updatedAt": "2025-03-05T09:02:14.120Z",
        "id": "cR71BtEHrwxYg2T3",
        "name": "jithin jithin.kumar@mileseducation.com <jithin.kumar@mileseducation.com>",
        "type": "personal",
        "icon": null,
        "projectRelations": [
          {
            "createdAt": "2025-03-05T09:02:14.123Z",
            "updatedAt": "2025-03-05T09:02:14.123Z",
            "role": "project:personalOwner",
            "userId": "f51de756-6885-4866-9956-6527c235116c",
            "projectId": "cR71BtEHrwxYg2T3",
            "user": {
              "createdAt": "2023-08-04T07:13:39.569Z",
              "updatedAt": "2025-03-27T08:36:36.628Z",
              "id": "f51de756-6885-4866-9956-6527c235116c",
              "email": "jithin.kumar@mileseducation.com",
              "firstName": "jithin",
              "lastName": "jithin.kumar@mileseducation.com",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2023-08-04T07:16:29.938Z",
                "personalization_survey_n8n_version": "1.1.1"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "AI5qL0olh221f3jV",
                "isOnboarded": true,
                "userActivatedAt": 1741165335002,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1743064591892
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false,
              "isOwner": true
            }
          }
        ]
      }
    }
  ],
  "tags": []
}