backup:v1/backup_LMS_addi_purchase_push_MXIhyxYLBkITDyvX.json
{
  "createdAt": "2025-03-19T13:19:17.423Z",
  "updatedAt": "2025-03-20T11:49:45.000Z",
  "id": "MXIhyxYLBkITDyvX",
  "name": "LMS addi purchase push",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        40,
        -60
      ],
      "id": "81c8a02b-28e3-42f0-95db-f9c5e69e90e4",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1ltlCweNtQj9VsyRMpeE7jz6YcrfU_xIlH8WU83EthVo/edit?gid=309252938#gid=309252938",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 309252938,
          "mode": "list",
          "cachedResultName": "mf_additionalpurchases_19",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ltlCweNtQj9VsyRMpeE7jz6YcrfU_xIlH8WU83EthVo/edit#gid=309252938"
        },
        "filtersUI": {
          "values": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        180,
        -320
      ],
      "id": "04d45b66-a24a-43e1-a70e-47151e0a25b1",
      "name": "Google Sheets",
      "credentials": {
        "googleApi": {
          "id": "aiCprsG1ZRAOjrNn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        500,
        -60
      ],
      "id": "cec095ad-ad4a-4f4d-a07d-45b22211ada3",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://fw23n8v5-3000.inc1.devtunnels.ms/purchase/add-additional-purchase-transaction",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n   \"lead_id\":{{ $json.leadId }},\n   \"transaction_id\":\"{{$json.transactionId }}\",\n   \"amount\":{{ $json.amount }},\n   \"paymentType\":\"{{ $json.paymentType }}\",\n   \"mr_date\":\"{{ $json.mrVrDate }}\",\n   \"material_id\":{{ $json.MF_material }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        760,
        -40
      ],
      "id": "8c0b6595-1711-424c-bcbe-3ee42c959f93",
      "name": "HTTP Request",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "additinal_purchase_migration",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "valid",
              "condition": "eq",
              "keyValue": "true"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        240,
        -60
      ],
      "id": "420e1272-aa51-4447-8a3b-0ef8b8dd79bc",
      "name": "Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "6stEFLC7gtftREcf",
          "name": "Supabase Campaign manager"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "additinal_purchase_migration",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Loop Over Items').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "processed",
              "fieldValue": "true"
            },
            {
              "fieldId": "response",
              "fieldValue": "={{$json}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        960,
        -40
      ],
      "id": "c38af6ff-024b-4852-b91c-2374434b5529",
      "name": "Supabase1",
      "credentials": {
        "supabaseApi": {
          "id": "6stEFLC7gtftREcf",
          "name": "Supabase Campaign manager"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        []
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Supabase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "432598a3-5e24-4050-a447-410cb08138d5",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-03-19T13:19:17.644Z",
      "updatedAt": "2025-03-19T13:19:17.644Z",
      "role": "workflow:owner",
      "workflowId": "MXIhyxYLBkITDyvX",
      "projectId": "cR71BtEHrwxYg2T3",
      "project": {
        "createdAt": "2025-03-05T09:02:14.120Z",
        "updatedAt": "2025-03-05T09:02:14.120Z",
        "id": "cR71BtEHrwxYg2T3",
        "name": "jithin jithin.kumar@mileseducation.com <jithin.kumar@mileseducation.com>",
        "type": "personal",
        "icon": null,
        "projectRelations": [
          {
            "createdAt": "2025-03-05T09:02:14.123Z",
            "updatedAt": "2025-03-05T09:02:14.123Z",
            "role": "project:personalOwner",
            "userId": "f51de756-6885-4866-9956-6527c235116c",
            "projectId": "cR71BtEHrwxYg2T3",
            "user": {
              "createdAt": "2023-08-04T07:13:39.569Z",
              "updatedAt": "2025-03-27T08:36:36.628Z",
              "id": "f51de756-6885-4866-9956-6527c235116c",
              "email": "jithin.kumar@mileseducation.com",
              "firstName": "jithin",
              "lastName": "jithin.kumar@mileseducation.com",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2023-08-04T07:16:29.938Z",
                "personalization_survey_n8n_version": "1.1.1"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "AI5qL0olh221f3jV",
                "isOnboarded": true,
                "userActivatedAt": 1741165335002,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1743064591892
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false,
              "isOwner": true
            }
          }
        ]
      }
    }
  ],
  "tags": []
}