backup:v1/backup_payment_upload_missing_IiAOGOfP93wYvMQ8.json
{
  "createdAt": "2024-11-14T12:39:29.541Z",
  "updatedAt": "2024-11-14T13:05:16.000Z",
  "id": "IiAOGOfP93wYvMQ8",
  "name": "payment upload missing",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "5cd1e490-6292-4111-969a-895b0755778e",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        680,
        320
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1qSdSB7_g2zOuzGFXBcV-1GsksPi4SsOPKHpQFD574zI/edit?gid=2126799000#gid=2126799000",
          "mode": "url",
          "__regex": "https:\\/\\/(?:drive|docs)\\.google\\.com(?:\\/.*|)\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"
        },
        "sheetName": {
          "__rl": true,
          "value": 2126799000,
          "mode": "list",
          "cachedResultName": "payment_response",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qSdSB7_g2zOuzGFXBcV-1GsksPi4SsOPKHpQFD574zI/edit#gid=2126799000"
        },
        "options": {}
      },
      "id": "e735534f-be68-485f-b676-36142a764a19",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        860,
        320
      ],
      "credentials": {
        "googleApi": {
          "id": "aiCprsG1ZRAOjrNn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "25cf1c0c-1bef-4843-812f-806a60f1a3b6",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        1080,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  item.json =JSON.parse(item.json.payment_response);\n}\nreturn $input.all()"
      },
      "id": "3014f282-5e50-494e-82af-a357517645f2",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        120
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.udf4?.length < 4 && $json.udf4?.length > 0}}",
              "value2": true
            }
          ]
        }
      },
      "id": "aeeab819-f47d-4b79-9f21-8c6d03965316",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1500,
        120
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "transaction",
          "mode": "list",
          "cachedResultName": "transaction"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "payment_link_id",
              "value": "={{ $json.udf4 }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3f42e65b-a3f8-4837-9f38-25cd860c5f4d",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [
        1720,
        100
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "VPJUosohtvWNBW4H",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "id": "12d2a01c-f4e5-4257-9d9b-e15302dd4ede",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1940,
        100
      ],
      "webhookId": "0e7ff7f2-3c5b-41df-b8b1-e2548e828e61"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.hasOwnProperty('id') }}",
              "value2": true
            }
          ]
        }
      },
      "id": "a53104ab-85b2-42db-b39a-1b99aaec1ae8",
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2160,
        100
      ]
    }
  ],
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "b83ddb5d-95b5-4e13-91e4-748c62489d97",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2024-11-14T12:39:29.549Z",
      "updatedAt": "2024-11-14T12:39:29.549Z",
      "role": "workflow:owner",
      "workflowId": "IiAOGOfP93wYvMQ8",
      "projectId": "cR71BtEHrwxYg2T3",
      "project": {
        "createdAt": "2025-03-05T09:02:14.120Z",
        "updatedAt": "2025-03-05T09:02:14.120Z",
        "id": "cR71BtEHrwxYg2T3",
        "name": "jithin jithin.kumar@mileseducation.com <jithin.kumar@mileseducation.com>",
        "type": "personal",
        "icon": null,
        "projectRelations": [
          {
            "createdAt": "2025-03-05T09:02:14.123Z",
            "updatedAt": "2025-03-05T09:02:14.123Z",
            "role": "project:personalOwner",
            "userId": "f51de756-6885-4866-9956-6527c235116c",
            "projectId": "cR71BtEHrwxYg2T3",
            "user": {
              "createdAt": "2023-08-04T07:13:39.569Z",
              "updatedAt": "2025-03-27T08:36:36.628Z",
              "id": "f51de756-6885-4866-9956-6527c235116c",
              "email": "jithin.kumar@mileseducation.com",
              "firstName": "jithin",
              "lastName": "jithin.kumar@mileseducation.com",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2023-08-04T07:16:29.938Z",
                "personalization_survey_n8n_version": "1.1.1"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "AI5qL0olh221f3jV",
                "isOnboarded": true,
                "userActivatedAt": 1741165335002,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1743064591892
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false,
              "isOwner": true
            }
          }
        ]
      }
    }
  ],
  "tags": []
}