backup:v1/backup_odoo___send_whatsapp_OShbxn90mVXgk0Zp.json
{
  "createdAt": "2023-10-26T07:39:52.332Z",
  "updatedAt": "2025-05-02T06:50:09.000Z",
  "id": "OShbxn90mVXgk0Zp",
  "name": "odoo - send whatsapp",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "send-whatsapp",
        "options": {}
      },
      "id": "451722a5-4266-403b-b21c-ed26f4ab56c7",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        400,
        -40
      ],
      "webhookId": "744c36b1-0512-430c-b9d0-93543ad2f1db"
    },
    {
      "parameters": {
        "template": "us-pathway-otp",
        "fromEmail": "usp@mileseducation.com",
        "toEmail": "={{ $json.body.email }}",
        "options": {
          "subject": "One-time password US Pathway Miles!"
        },
        "mergeVarsUi": {
          "mergeVarsValues": [
            {
              "name": "OTP",
              "content": "={{ $json.body.message.match(/\\d{6}/)[0] }}"
            },
            {
              "name": "NAME",
              "content": "={{ $json.body.name }}"
            }
          ]
        }
      },
      "id": "2f697fbf-9f7e-4f91-b5f6-d94e94c9beea",
      "name": "Mandrill",
      "type": "n8n-nodes-base.mandrill",
      "typeVersion": 1,
      "position": [
        1100,
        20
      ],
      "credentials": {
        "mandrillApi": {
          "id": "t5XAtcUI45PwVrj0",
          "name": "Mandrill account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body?.type ?? \"otp\" }}",
              "value2": "meeting"
            }
          ]
        }
      },
      "id": "bedb1b46-c8fc-4d33-865b-ffaa8938c875",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        680,
        -40
      ]
    },
    {
      "parameters": {
        "phoneNumberId": "108019349036743",
        "recipientPhoneNumber": "={{ $json.body.number }}",
        "template": "usp_meeting_link1|en",
        "components": {
          "component": [
            {
              "bodyParameters": {
                "parameter": [
                  {
                    "text": "={{ $json.body.name }}"
                  },
                  {
                    "text": "={{ $json.body.link }}"
                  }
                ]
              }
            }
          ]
        }
      },
      "id": "02e6600d-3e01-4e78-bb4e-df7b930882e8",
      "name": "WhatsApp Business Cloud2",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1120,
        -240
      ],
      "webhookId": "8118d2ac-a2b9-48e3-89ef-5ffb0bf80b2c",
      "credentials": {
        "whatsAppApi": {
          "id": "KHcTD6EUGATb3z0D",
          "name": "Secondary | Marketing Miles Education"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "phoneNumberId": "108019349036743",
        "recipientPhoneNumber": "={{ $('Webhook').first().json.body.number }}",
        "template": "auth_verification_1|en",
        "components": {
          "component": [
            {
              "bodyParameters": {
                "parameter": [
                  {
                    "text": "={{ $('Webhook').first().json.body.otp }}"
                  }
                ]
              }
            },
            {
              "type": "button",
              "sub_type": "url",
              "buttonParameters": {
                "parameter": {
                  "payload": "={{ $('Webhook').first().json.body.otp }}"
                }
              }
            }
          ]
        }
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1100,
        220
      ],
      "id": "f3822255-b4d9-47ba-bfa7-8329e0957fc5",
      "name": "WhatsApp Business Cloud4",
      "webhookId": "2fb29218-7fef-41c3-8467-44d12c2c8fd0",
      "retryOnFail": false,
      "credentials": {
        "whatsAppApi": {
          "id": "KHcTD6EUGATb3z0D",
          "name": "Secondary | Marketing Miles Education"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "108019349036743",
        "recipientPhoneNumber": "={{ $json.body.number }}",
        "textBody": "={{ $json.body.otp }} is your verification code. For your security, do not share this code. ",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1100,
        500
      ],
      "id": "b21506f3-4c2e-4b39-be40-e4bece5a4b80",
      "name": "WhatsApp Business Cloud",
      "webhookId": "610852fb-4dde-4f50-8735-32cec63113a4",
      "credentials": {
        "whatsAppApi": {
          "id": "KHcTD6EUGATb3z0D",
          "name": "Secondary | Marketing Miles Education"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mandrill",
            "type": "main",
            "index": 0
          },
          {
            "node": "WhatsApp Business Cloud4",
            "type": "main",
            "index": 0
          },
          {
            "node": "WhatsApp Business Cloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "webhook.miles-api.com",
            "x-real-ip": "172.70.142.237",
            "x-forwarded-host": "webhook.miles-api.com",
            "x-forwarded-server": "webhook.miles-api.com",
            "x-forwarded-for": "34.93.141.96, 172.70.142.237",
            "connection": "close",
            "content-length": "270",
            "accept-encoding": "gzip, br",
            "cf-ray": "85d7011aabd64a2f-SIN",
            "x-forwarded-proto": "https",
            "user-agent": "python-requests/2.25.1",
            "accept": "*/*",
            "content-type": "application/json",
            "cf-connecting-ip": "34.93.141.96",
            "cdn-loop": "cloudflare",
            "cf-ipcountry": "IN"
          },
          "params": {},
          "query": {},
          "body": {
            "name": "Jithin",
            "otp": 32323,
            "email": "jithinkpraveen@gmail.com",
            "number": "919460596406",
            "link": "https://bluebutton.mileseducation.org/bigbluebutton/api/join?meetingID=2e786e44-39f4-11ef-839d-ab031bc363f8&password=PP2xcpxu&fullName=Sobin&checksum=26cfc261ada9d069f907240f9593c8419d13c954",
            "message": "Welcome to US Pathway Miles! Please use the following one-time password (OTP) to log in securely: 729268.If you did not request this OTP, please contact our support immediately"
          }
        }
      }
    ]
  },
  "versionId": "dfa1738e-b23d-493c-bbda-809dbef64d9e",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2023-10-26T07:39:52.337Z",
      "updatedAt": "2023-10-26T07:39:52.337Z",
      "role": "workflow:owner",
      "workflowId": "OShbxn90mVXgk0Zp",
      "projectId": "cR71BtEHrwxYg2T3",
      "project": {
        "createdAt": "2025-03-05T09:02:14.120Z",
        "updatedAt": "2025-03-05T09:02:14.120Z",
        "id": "cR71BtEHrwxYg2T3",
        "name": "jithin jithin.kumar@mileseducation.com <jithin.kumar@mileseducation.com>",
        "type": "personal",
        "icon": null,
        "projectRelations": [
          {
            "createdAt": "2025-03-05T09:02:14.123Z",
            "updatedAt": "2025-03-05T09:02:14.123Z",
            "role": "project:personalOwner",
            "userId": "f51de756-6885-4866-9956-6527c235116c",
            "projectId": "cR71BtEHrwxYg2T3",
            "user": {
              "createdAt": "2023-08-04T07:13:39.569Z",
              "updatedAt": "2025-03-27T08:36:36.628Z",
              "id": "f51de756-6885-4866-9956-6527c235116c",
              "email": "jithin.kumar@mileseducation.com",
              "firstName": "jithin",
              "lastName": "jithin.kumar@mileseducation.com",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2023-08-04T07:16:29.938Z",
                "personalization_survey_n8n_version": "1.1.1"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "AI5qL0olh221f3jV",
                "isOnboarded": true,
                "userActivatedAt": 1741165335002,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1743064591892
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false,
              "isOwner": true
            }
          }
        ]
      }
    }
  ],
  "tags": []
}