backup:v1/backup_My_workflow_32_aa9EbTkqvRrmZ4VS.json
{
  "createdAt": "2025-02-28T07:17:38.038Z",
  "updatedAt": "2025-02-28T07:53:24.000Z",
  "id": "aa9EbTkqvRrmZ4VS",
  "name": "My workflow 32",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "0e1e9d25-9d21-4441-aa7e-4055e1a722a0",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        380,
        360
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    ne.\"id\", \n    ne.\"created_at\", \n    ne.\"first_name\", \n    ne.\"last_name\", \n    ne.\"phone\", \n    ne.\"email\", \n    ne.\"city\", \n    ne.\"coming_from\", \n    ne.\"register_for_webinar\", \n    ne.\"uuid\", \n    ne.\"program_id\", \n    ne.\"campaign_id\", \n    ne.\"leadId\"\nFROM \n    net_enquiry AS ne\nWHERE \n    ne.\"created_at\" >= NOW() - INTERVAL '1 day'\n    AND (ne.\"email\" IS NOT NULL AND ne.\"email\" <> '')\n    AND NOT EXISTS (\n        SELECT 1 \n        FROM webinar_registration AS wr\n        WHERE wr.\"leadId\" = ne.\"leadId\" \n        AND wr.\"webinarId\" = {{ $json.id }}\n    );\n",
        "options": {}
      },
      "id": "50573914-9b49-4798-8d02-40b850ea2817",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [
        820,
        360
      ],
      "credentials": {
        "postgres": {
          "id": "VPJUosohtvWNBW4H",
          "name": "MF Prod (DO NOT USE)"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "webinar",
          "mode": "name"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "courseId",
              "value": "3"
            }
          ]
        },
        "sort": {
          "values": [
            {
              "column": "created_at",
              "direction": "DESC"
            }
          ]
        },
        "options": {}
      },
      "id": "3a5eef38-bb01-4444-8264-b4a43fff011d",
      "name": "Postgres1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [
        600,
        360
      ],
      "credentials": {
        "postgres": {
          "id": "VPJUosohtvWNBW4H",
          "name": "MF Prod (DO NOT USE)"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "53b81980-4951-4a29-bd4b-ab3409be0534",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1040,
        360
      ]
    }
  ],
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Postgres1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres1": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "fe936bc7-0d20-402b-b806-063e89d53fab",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-02-28T07:17:38.043Z",
      "updatedAt": "2025-02-28T07:17:38.043Z",
      "role": "workflow:owner",
      "workflowId": "aa9EbTkqvRrmZ4VS",
      "projectId": "cR71BtEHrwxYg2T3",
      "project": {
        "createdAt": "2025-03-05T09:02:14.120Z",
        "updatedAt": "2025-03-05T09:02:14.120Z",
        "id": "cR71BtEHrwxYg2T3",
        "name": "jithin jithin.kumar@mileseducation.com <jithin.kumar@mileseducation.com>",
        "type": "personal",
        "icon": null,
        "projectRelations": [
          {
            "createdAt": "2025-03-05T09:02:14.123Z",
            "updatedAt": "2025-03-05T09:02:14.123Z",
            "role": "project:personalOwner",
            "userId": "f51de756-6885-4866-9956-6527c235116c",
            "projectId": "cR71BtEHrwxYg2T3",
            "user": {
              "createdAt": "2023-08-04T07:13:39.569Z",
              "updatedAt": "2025-03-27T08:36:36.628Z",
              "id": "f51de756-6885-4866-9956-6527c235116c",
              "email": "jithin.kumar@mileseducation.com",
              "firstName": "jithin",
              "lastName": "jithin.kumar@mileseducation.com",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2023-08-04T07:16:29.938Z",
                "personalization_survey_n8n_version": "1.1.1"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "AI5qL0olh221f3jV",
                "isOnboarded": true,
                "userActivatedAt": 1741165335002,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1743064591892
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false,
              "isOwner": true
            }
          }
        ]
      }
    }
  ],
  "tags": []
}