backup:v1/backup_Update_Message_Status_in_Supabase__wa_msg_id__1tIqfuoSd8QoBAqu.json
{
  "createdAt": "2025-04-28T14:43:36.347Z",
  "updatedAt": "2025-05-12T08:26:45.000Z",
  "id": "1tIqfuoSd8QoBAqu",
  "name": "Update Message Status in Supabase (wa_msg_id)",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        220,
        360
      ]
    },
    {
      "parameters": {
        "tableId": "wati_template_message_status",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "wa_msg_id",
              "fieldValue": "={{ $json.body.whatsappMessageId }}"
            },
            {
              "fieldId": "message_sent",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "phone"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        780,
        -80
      ],
      "id": "f7303c89-5a42-4e29-9b50-c4a0097643d3",
      "name": "Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "6stEFLC7gtftREcf",
          "name": "Supabase Campaign manager"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.statusString.toLowerCase() }}",
                    "rightValue": "sent",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "3e05ab19-23c4-46f2-9810-70faf7c96453"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0aae629c-e17b-400e-8f93-9b417514d5d3",
                    "leftValue": "={{ $json.body.statusString.toLowerCase() }}",
                    "rightValue": "delivered",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "918a4a68-1e95-4424-b572-7868843a03f0",
                    "leftValue": "={{ $json.body.statusString.toLowerCase() }}",
                    "rightValue": "read",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b671c441-7d66-45d7-8bda-aa5e914faa79",
                    "leftValue": "={{ $json.body.statusString.toLowerCase() }}",
                    "rightValue": "replied",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        480,
        340
      ],
      "id": "bef1926b-e846-43e1-ab5e-104514204a99",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "wati_template_message_status",
        "filters": {
          "conditions": [
            {
              "keyName": "wa_msg_id",
              "condition": "eq",
              "keyValue": "={{ $json.body.whatsappMessageId }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "message_delivered",
              "fieldValue": "={{ $now }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        800,
        200
      ],
      "id": "b9f5aeb6-2208-4fbb-a368-b5498fe94e0a",
      "name": "Supabase1",
      "credentials": {
        "supabaseApi": {
          "id": "6stEFLC7gtftREcf",
          "name": "Supabase Campaign manager"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "wati_template_message_status",
        "filters": {
          "conditions": [
            {
              "keyName": "wa_msg_id",
              "condition": "eq",
              "keyValue": "={{ $json.body.whatsappMessageId }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "message_read",
              "fieldValue": "={{ $now }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        800,
        440
      ],
      "id": "c3ff628c-6ed0-4349-b2a7-c98256d8ea12",
      "name": "Supabase2",
      "credentials": {
        "supabaseApi": {
          "id": "6stEFLC7gtftREcf",
          "name": "Supabase Campaign manager"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "wati_template_message_status",
        "filters": {
          "conditions": [
            {
              "keyName": "wa_msg_id",
              "condition": "eq",
              "keyValue": "={{ $json.body.whatsappMessageId }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "message_replied",
              "fieldValue": "={{ $now }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        820,
        700
      ],
      "id": "e7efa542-0bc1-47c6-bcc8-654536cb6413",
      "name": "Supabase3",
      "credentials": {
        "supabaseApi": {
          "id": "6stEFLC7gtftREcf",
          "name": "Supabase Campaign manager"
        }
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Kolkata",
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "osaLco4lVgTtLpKH"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "headers": {
            "host": "webhook.miles-api.com",
            "x-real-ip": "172.71.82.11",
            "x-forwarded-host": "webhook.miles-api.com",
            "x-forwarded-server": "webhook.miles-api.com",
            "x-forwarded-for": "34.142.224.227, 172.71.82.11",
            "connection": "close",
            "content-length": "446",
            "cf-ray": "9377e9b1bea481ce-SIN",
            "cf-connecting-ip": "34.142.224.227",
            "accept-encoding": "gzip, br",
            "x-forwarded-proto": "https",
            "content-type": "application/json; charset=utf-8",
            "tracestate": "dd=s:0;p:40662931d97d256c",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "traceparent": "00-680fabd900000000bf978d52f956b4be-40662931d97d256c-00",
            "x-datadog-tags": "_dd.p.tid=680fabd900000000",
            "cdn-loop": "cloudflare; loops=1",
            "cf-ipcountry": "SG",
            "x-datadog-sampling-priority": "0",
            "x-datadog-parent-id": "4640441760130868588",
            "user-agent": "Wati-webhook/1.0 (https://wati.io; support@wati.io)",
            "x-datadog-trace-id": "13805658570237588670"
          },
          "params": {},
          "query": {},
          "body": {
            "eventType": "sentMessageREAD_v2",
            "statusString": "Delivered",
            "localMessageId": "b78195bb-548a-422e-b2d8-ef1eb9bf6c70",
            "id": "680fabd5d07017d458a3789b",
            "whatsappMessageId": "wamid.HBgMOTE5NDYwNTk2NDA2FQIAERgSRjI4MjdGNTU3MjE0QTVBRDJEAA==",
            "conversationId": "67cfde7b773e57a5fdb8b754",
            "ticketId": "680f7a0d286e72e14d6279d8",
            "text": null,
            "type": "template",
            "timestamp": "1745857497",
            "assigneeId": null,
            "operatorEmail": "mandalam.karan@mileseducation.com"
          },
          "webhookUrl": "https://webhook.miles-api.com/webhook/wati-template-delivered-status",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "ffc75c4e-3a25-414a-8d63-79ee72af025c",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-04-28T14:43:36.349Z",
      "updatedAt": "2025-04-28T14:43:36.349Z",
      "role": "workflow:owner",
      "workflowId": "1tIqfuoSd8QoBAqu",
      "projectId": "cR71BtEHrwxYg2T3",
      "project": {
        "createdAt": "2025-03-05T09:02:14.120Z",
        "updatedAt": "2025-03-05T09:02:14.120Z",
        "id": "cR71BtEHrwxYg2T3",
        "name": "jithin jithin.kumar@mileseducation.com <jithin.kumar@mileseducation.com>",
        "type": "personal",
        "icon": null,
        "projectRelations": [
          {
            "createdAt": "2025-03-05T09:02:14.123Z",
            "updatedAt": "2025-03-05T09:02:14.123Z",
            "role": "project:personalOwner",
            "userId": "f51de756-6885-4866-9956-6527c235116c",
            "projectId": "cR71BtEHrwxYg2T3",
            "user": {
              "createdAt": "2023-08-04T07:13:39.569Z",
              "updatedAt": "2025-03-27T08:36:36.628Z",
              "id": "f51de756-6885-4866-9956-6527c235116c",
              "email": "jithin.kumar@mileseducation.com",
              "firstName": "jithin",
              "lastName": "jithin.kumar@mileseducation.com",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2023-08-04T07:16:29.938Z",
                "personalization_survey_n8n_version": "1.1.1"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "AI5qL0olh221f3jV",
                "isOnboarded": true,
                "userActivatedAt": 1741165335002,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1743064591892
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false,
              "isOwner": true
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "createdAt": "2025-04-28T13:47:05.635Z",
      "updatedAt": "2025-04-28T13:47:05.635Z",
      "id": "5trY9jUf4K12fkdk",
      "name": "wati"
    },
    {
      "createdAt": "2025-04-29T06:36:23.362Z",
      "updatedAt": "2025-04-29T06:36:23.362Z",
      "id": "H1D37pNFvSAXh7Qg",
      "name": "supabase"
    }
  ]
}