backup:v1/backup_Offline_Sessions_Registrations___ME_xQk58l0ggLqEZuL2.json
{
  "createdAt": "2024-09-09T18:49:18.945Z",
  "updatedAt": "2024-09-11T10:35:02.000Z",
  "id": "xQk58l0ggLqEZuL2",
  "name": "Offline Sessions Registrations - ME",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "8d7bb9e3-ddb3-4194-805c-15c53e6c70d1",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        760,
        360
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "webinar",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.body.webinar_id }}"
            }
          ]
        }
      },
      "id": "c085666f-240a-47a0-ad7c-4309c77efb4b",
      "name": "Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        980,
        360
      ],
      "credentials": {
        "supabaseApi": {
          "id": "6stEFLC7gtftREcf",
          "name": "Supabase Campaign manager"
        }
      }
    },
    {
      "parameters": {
        "tableId": "webinar_registration",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "leads_dump_id",
              "fieldValue": "={{ $('Execute Workflow Trigger').item.json.body.id }}"
            },
            {
              "fieldId": "webinar_id",
              "fieldValue": "={{ $('Execute Workflow Trigger').item.json.body.webinar_id }}"
            },
            {
              "fieldId": "registration_email",
              "fieldValue": "={{ $('Execute Workflow Trigger').item.json.body.email }}"
            }
          ]
        }
      },
      "id": "b72d38a8-edc2-44c8-9e24-63b7fb33e4b6",
      "name": "Supabase1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1440,
        240
      ],
      "credentials": {
        "supabaseApi": {
          "id": "6stEFLC7gtftREcf",
          "name": "Supabase Campaign manager"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.isOffline }}",
              "value2": true
            }
          ]
        }
      },
      "id": "ca90faf0-4ebe-4a03-ab35-c1f42c35f235",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1200,
        360
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.webinar_id }}",
              "operation": "equal",
              "value2": 85
            }
          ]
        }
      },
      "id": "10608897-5425-4da1-b3cc-001e1ba0a70b",
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1740,
        240
      ]
    },
    {
      "parameters": {
        "phoneNumberId": "171009622770823",
        "recipientPhoneNumber": "={{ $('Execute Workflow Trigger').item.json.body.phone }}",
        "template": "ahm_successful_registration|en"
      },
      "id": "60064dab-675f-4f17-9822-6c2867069cad",
      "name": "WhatsApp Business Cloud",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        2020,
        120
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "JPvNp2kC4SudtNkr",
          "name": "WhatsApp account New"
        }
      }
    },
    {
      "parameters": {
        "phoneNumberId": "171009622770823",
        "recipientPhoneNumber": "={{ $('Execute Workflow Trigger').item.json.body.phone }}",
        "template": "offline_mum_successful_registration|en"
      },
      "id": "ec5ff7e5-d2ae-4fec-b6d3-7096ef521924",
      "name": "WhatsApp Business Cloud1",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        2000,
        400
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "JPvNp2kC4SudtNkr",
          "name": "WhatsApp account New"
        }
      }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Supabase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase1": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WhatsApp Business Cloud1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Execute Workflow Trigger": [
      {
        "json": {
          "headers": {
            "host": "webhook.miles-api.com",
            "x-real-ip": "172.69.87.200",
            "x-forwarded-host": "webhook.miles-api.com",
            "x-forwarded-server": "webhook.miles-api.com",
            "x-forwarded-for": "2406:da1a:6b0:f602:fc46:c2c9:8a32:fafb, 172.69.87.200",
            "connection": "close",
            "content-length": "703",
            "cf-ray": "8c1602b31d3a471f",
            "cf-ipcountry": "IN",
            "accept-encoding": "gzip, br",
            "cf-pseudo-ipv4": "240.81.65.233",
            "x-forwarded-proto": "https",
            "cdn-loop": "cloudflare; loops=1",
            "cf-connecting-ip": "2406:da1a:6b0:f602:fc46:c2c9:8a32:fafb",
            "content-type": "application/json",
            "charsets": "utf-8",
            "accept": "*/*",
            "user-agent": "PostgreSQL 15.1 (Ubuntu 15.1-1.pgdg20.04+1) on aarch64-unknown-linux-gnu, compiled by gcc (Ubuntu 9.4.0-1ubuntu1~20.04.1) 9.4.0, 64-bit"
          },
          "params": {},
          "query": {},
          "body": {
            "id": 1348129,
            "city": "Mumbai",
            "json": [
              "USP"
            ],
            "email": "km@gmail.com",
            "phone": "7349296479",
            "course": null,
            "gcl_id": null,
            "camp_id": 788,
            "whatsapp": false,
            "clevertap": null,
            "last_name": "",
            "camp_token": null,
            "first_name": "Dipanwita Giri",
            "push_to_mf": true,
            "webinar_id": 86,
            "website_id": null,
            "campaign_id": null,
            "coming_from": "MF",
            "ga_client_id": null,
            "intrested_in": null,
            "campaign_name": null,
            "ga_session_id": null,
            "page_full_url": null,
            "sync_to_sheet": false,
            "url_page_path": null,
            "ga_session_number": null,
            "english_proficiency": null,
            "registration_status": false,
            "register_for_webinar": true,
            "whatsapp_send_status": false,
            "education_qualification": null
          }
        }
      }
    ]
  },
  "versionId": "15c31130-738d-4970-9968-55af7f084735",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2024-09-09T18:49:18.949Z",
      "updatedAt": "2024-09-09T18:49:18.949Z",
      "role": "workflow:owner",
      "workflowId": "xQk58l0ggLqEZuL2",
      "projectId": "cR71BtEHrwxYg2T3",
      "project": {
        "createdAt": "2025-03-05T09:02:14.120Z",
        "updatedAt": "2025-03-05T09:02:14.120Z",
        "id": "cR71BtEHrwxYg2T3",
        "name": "jithin jithin.kumar@mileseducation.com <jithin.kumar@mileseducation.com>",
        "type": "personal",
        "icon": null,
        "projectRelations": [
          {
            "createdAt": "2025-03-05T09:02:14.123Z",
            "updatedAt": "2025-03-05T09:02:14.123Z",
            "role": "project:personalOwner",
            "userId": "f51de756-6885-4866-9956-6527c235116c",
            "projectId": "cR71BtEHrwxYg2T3",
            "user": {
              "createdAt": "2023-08-04T07:13:39.569Z",
              "updatedAt": "2025-03-27T08:36:36.628Z",
              "id": "f51de756-6885-4866-9956-6527c235116c",
              "email": "jithin.kumar@mileseducation.com",
              "firstName": "jithin",
              "lastName": "jithin.kumar@mileseducation.com",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2023-08-04T07:16:29.938Z",
                "personalization_survey_n8n_version": "1.1.1"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "AI5qL0olh221f3jV",
                "isOnboarded": true,
                "userActivatedAt": 1741165335002,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1743064591892
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false,
              "isOwner": true
            }
          }
        ]
      }
    }
  ],
  "tags": []
}