backup:v1/backup_workshop_1_WAh9VZZOmKPnbBf6.json
{
  "createdAt": "2024-02-23T19:45:43.570Z",
  "updatedAt": "2024-03-01T19:30:55.000Z",
  "id": "WAh9VZZOmKPnbBf6",
  "name": "workshop 1",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1tvpE9T4RZhw6Q4XUWt_MnjhSyVmRyxCGPTXvXfcTLVQ/edit#gid=1145935046",
          "mode": "url",
          "__regex": "https:\\/\\/(?:drive|docs)\\.google\\.com(?:\\/.*|)\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Meta",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tvpE9T4RZhw6Q4XUWt_MnjhSyVmRyxCGPTXvXfcTLVQ/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "upload status",
              "lookupValue": "No"
            }
          ]
        },
        "options": {}
      },
      "id": "37ec94b2-951e-4406-b2e4-d23a5450d9b3",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        840,
        380
      ],
      "credentials": {
        "googleApi": {
          "id": "aiCprsG1ZRAOjrNn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://blcwdqfhupddorxpdcjl.supabase.co/functions/v1/book-appointment-linkedin-leads",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n   \"questions\":{\n      \"1\":\"{{ $('Split In Batches').item.json['First me'] }}\",\n      \"2\":\"{{ $('Split In Batches').item.json['Last me'] }}\",\n      \"3\":\"{{ $('Split In Batches').item.json['Email address'] }}\",\n      \"4\":\"\",\n      \"5\":\"{{ $('Split In Batches').item.json['clean phone'] }}\",\n      \"6\":\"{{ $('Split In Batches').item.json['Nearest Miles Office'] }}\",\n      \"7\":\"{{ $('Split In Batches').item.json['Nearest Miles Office'] }}\",\n      \"8\":\"{{ $('Split In Batches').item.json['Choose Day'] }}\",\n      \"9\":\"{{ $('Split In Batches').item.json['Choose Time'] }}\"\n   }\n}       ",
        "options": {}
      },
      "id": "b08dccc1-84fc-4264-8a8f-c206728acb44",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1720,
        -160
      ],
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "00bec83b-8a58-4868-9b52-0c5a29920cc1",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        1080,
        340
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "leads_dump",
        "limit": 1,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "camp_id",
              "condition": "eq",
              "keyValue": "={{ $json.camp_id }}"
            },
            {
              "keyName": "email",
              "condition": "eq",
              "keyValue": "={{ $json.email }}"
            }
          ]
        }
      },
      "id": "6476ac61-100e-4776-a9c8-625f4f453257",
      "name": "Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1380,
        80
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "6stEFLC7gtftREcf",
          "name": "Supabase Campaign manager"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.hasOwnProperty('id') }}",
              "value2": true
            }
          ]
        }
      },
      "id": "0cd886f4-e35c-4f88-bc4d-74b77d369851",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1600,
        80
      ]
    },
    {
      "parameters": {},
      "id": "76b98d79-1d2f-4a60-b65d-4ddfda74091a",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        160,
        560
      ]
    },
    {
      "parameters": {
        "unit": "seconds"
      },
      "id": "183a1200-8fd8-4114-b7fd-3044a6d2fcec",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2380,
        220
      ],
      "webhookId": "73e5a846-73b0-4610-9780-41aac327e5b0"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://blcwdqfhupddorxpdcjl.supabase.co/functions/v1/book-appointment-fb-leads",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n   \"raw\":{\n      \"choose_day\":\"{{ $('Split In Batches').item.json.choose_day }}\",\n      \"choose_time\":\"{{ $('Split In Batches').item.json.choose_time }}\",\n      \"education_qualification\":\"{{ $('Split In Batches').item.json.education_qualification }}\",\n      \"email\":\"{{ $('Split In Batches').item.json.email }}\",\n      \"full_name\":\"{{ $('Split In Batches').item.json['first name'] }} {{ $('Split In Batches').item.json['last name'] }}\",\n      \"nearest_miles_office_\":\"{{ $('Split In Batches').item.json.nearest_miles_office_ }}\",\n      \"phone_number\":\"{{ $('Split In Batches').item.json['phone'] }}\"\n   },\n   \"retailer_item_id\":\"\",\n   \"vehicle\":\"\"\n} ",
        "options": {}
      },
      "id": "a0bb5504-aaf3-41db-a913-e938cebbcdbd",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1920,
        220
      ],
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1tvpE9T4RZhw6Q4XUWt_MnjhSyVmRyxCGPTXvXfcTLVQ/edit#gid=1145935046",
          "mode": "url",
          "__regex": "https:\\/\\/(?:drive|docs)\\.google\\.com(?:\\/.*|)\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Meta",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tvpE9T4RZhw6Q4XUWt_MnjhSyVmRyxCGPTXvXfcTLVQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Id": "={{ $('Split In Batches').item.json.Id }}",
            "upload status": "Yes"
          },
          "matchingColumns": [
            "Id"
          ],
          "schema": [
            {
              "id": "Id",
              "displayName": "Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "education_qualification",
              "displayName": "education_qualification",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "first name",
              "displayName": "first name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last name",
              "displayName": "last name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nearest_miles_office_",
              "displayName": "nearest_miles_office_",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "choose_day",
              "displayName": "choose_day",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "choose_time",
              "displayName": "choose_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "camp_id",
              "displayName": "camp_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "upload status",
              "displayName": "upload status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "3da48499-92b5-4d74-ad7f-daabf2b49695",
      "name": "Google Sheets1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2140,
        220
      ],
      "credentials": {
        "googleApi": {
          "id": "aiCprsG1ZRAOjrNn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1tvpE9T4RZhw6Q4XUWt_MnjhSyVmRyxCGPTXvXfcTLVQ/edit#gid=1145935046",
          "mode": "url",
          "__regex": "https:\\/\\/(?:drive|docs)\\.google\\.com(?:\\/.*|)\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"
        },
        "sheetName": {
          "__rl": true,
          "value": 1310141786,
          "mode": "list",
          "cachedResultName": "auto update only form 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tvpE9T4RZhw6Q4XUWt_MnjhSyVmRyxCGPTXvXfcTLVQ/edit#gid=1310141786"
        },
        "options": {}
      },
      "id": "e34846d9-30b4-42f9-ae80-5d443781956e",
      "name": "Google Sheets2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        420,
        780
      ],
      "credentials": {
        "googleApi": {
          "id": "aiCprsG1ZRAOjrNn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "b0bb2d94-e81a-4666-9b85-9a29dd0abde1",
      "name": "Split In Batches1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        960,
        860
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "leads_dump",
        "limit": 1,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "camp_id",
              "condition": "eq",
              "keyValue": "={{ $json.camp_id }}"
            },
            {
              "keyName": "phone",
              "condition": "ilike",
              "keyValue": "=*{{ $json['Phone number'].toString() }}*"
            }
          ]
        }
      },
      "id": "fa0647e9-3936-4a07-b384-593824840252",
      "name": "Supabase1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1260,
        600
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "6stEFLC7gtftREcf",
          "name": "Supabase Campaign manager"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.hasOwnProperty('id') }}",
              "value2": true
            }
          ]
        }
      },
      "id": "86b6ea29-ea62-4871-86a6-2dcce3cea92c",
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1480,
        600
      ]
    },
    {
      "parameters": {
        "amount": 0,
        "unit": "seconds"
      },
      "id": "d669125e-ab0d-4d21-aa33-73acff21954d",
      "name": "Wait1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2260,
        740
      ],
      "webhookId": "73e5a846-73b0-4610-9780-41aac327e5b0"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1tvpE9T4RZhw6Q4XUWt_MnjhSyVmRyxCGPTXvXfcTLVQ/edit#gid=1145935046",
          "mode": "url",
          "__regex": "https:\\/\\/(?:drive|docs)\\.google\\.com(?:\\/.*|)\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"
        },
        "sheetName": {
          "__rl": true,
          "value": 1310141786,
          "mode": "list",
          "cachedResultName": "auto update only form 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tvpE9T4RZhw6Q4XUWt_MnjhSyVmRyxCGPTXvXfcTLVQ/edit#gid=1310141786"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Split In Batches1').item.json.id }}",
            "upload status": "Yes"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "First name",
              "displayName": "First name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last name",
              "displayName": "Last name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email address",
              "displayName": "Email address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone number",
              "displayName": "Phone number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "City",
              "displayName": "City",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "camp_id",
              "displayName": "camp_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "upload status",
              "displayName": "upload status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "7b665de7-fc42-4f31-ac99-a6836dfaa9f4",
      "name": "Google Sheets3",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2020,
        700
      ],
      "credentials": {
        "googleApi": {
          "id": "aiCprsG1ZRAOjrNn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "leads_dump",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "phone",
              "fieldValue": "={{ $('Split In Batches1').item.json['Phone number'] }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $('Split In Batches1').item.json['Email address'] }}"
            },
            {
              "fieldId": "city",
              "fieldValue": "={{ $('Split In Batches1').item.json.City }}"
            },
            {
              "fieldId": "camp_id",
              "fieldValue": "={{ $('Split In Batches1').item.json.camp_id }}"
            },
            {
              "fieldId": "first_name",
              "fieldValue": "={{ $('Split In Batches1').item.json['First name'] }}"
            },
            {
              "fieldId": "last_name",
              "fieldValue": "={{ $('Split In Batches1').item.json['Last name'] }}"
            },
            {
              "fieldId": "register_for_webinar",
              "fieldValue": "true"
            },
            {
              "fieldId": "push_to_mf",
              "fieldValue": "false"
            }
          ]
        }
      },
      "id": "bb950abd-afd7-4c1d-a017-cf692a268470",
      "name": "Supabase2",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1840,
        700
      ],
      "credentials": {
        "supabaseApi": {
          "id": "6stEFLC7gtftREcf",
          "name": "Supabase Campaign manager"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json['upload status'] }}",
              "value2": "No"
            }
          ]
        }
      },
      "id": "843714ce-115b-4d85-9a6c-cccc7179a226",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        660,
        880
      ]
    }
  ],
  "connections": {
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets2": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches1": {
      "main": [
        [
          {
            "node": "Supabase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase1": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "Split In Batches1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Split In Batches1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets3": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase2": {
      "main": [
        [
          {
            "node": "Google Sheets3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Split In Batches1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "6b1d1f88-a8dc-4d05-9e41-73a765c6cd0d",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2024-02-23T19:45:43.574Z",
      "updatedAt": "2024-02-23T19:45:43.574Z",
      "role": "workflow:owner",
      "workflowId": "WAh9VZZOmKPnbBf6",
      "projectId": "cR71BtEHrwxYg2T3",
      "project": {
        "createdAt": "2025-03-05T09:02:14.120Z",
        "updatedAt": "2025-03-05T09:02:14.120Z",
        "id": "cR71BtEHrwxYg2T3",
        "name": "jithin jithin.kumar@mileseducation.com <jithin.kumar@mileseducation.com>",
        "type": "personal",
        "icon": null,
        "projectRelations": [
          {
            "createdAt": "2025-03-05T09:02:14.123Z",
            "updatedAt": "2025-03-05T09:02:14.123Z",
            "role": "project:personalOwner",
            "userId": "f51de756-6885-4866-9956-6527c235116c",
            "projectId": "cR71BtEHrwxYg2T3",
            "user": {
              "createdAt": "2023-08-04T07:13:39.569Z",
              "updatedAt": "2025-03-27T08:36:36.628Z",
              "id": "f51de756-6885-4866-9956-6527c235116c",
              "email": "jithin.kumar@mileseducation.com",
              "firstName": "jithin",
              "lastName": "jithin.kumar@mileseducation.com",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2023-08-04T07:16:29.938Z",
                "personalization_survey_n8n_version": "1.1.1"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "AI5qL0olh221f3jV",
                "isOnboarded": true,
                "userActivatedAt": 1741165335002,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1743064591892
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false,
              "isOwner": true
            }
          }
        ]
      }
    }
  ],
  "tags": []
}