backup:v1/backup_NEW_Fetch_Lead_Details__lead_id__eQzyHqrEBFVmbr6N.json
{
  "createdAt": "2025-05-09T08:32:47.761Z",
  "updatedAt": "2025-06-19T06:36:18.000Z",
  "id": "eQzyHqrEBFVmbr6N",
  "name": "NEW Fetch Lead Details (lead_id)",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -140,
        -20
      ],
      "id": "6a75bab5-6f7e-4c88-ba15-1efefb6767b8",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "314e73ab-6f30-4479-8628-c4f903a14b54",
              "leftValue": "={{ $json.lead_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        80,
        -20
      ],
      "id": "a0334224-214c-4990-a7fb-60b04e947f6a",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT\n  \"public\".\"lead\".\"id\" AS \"id\",\n  \"public\".\"lead\".\"candidate_id\" AS \"candidate_id\",\n  \"public\".\"lead\".\"first_name\" AS \"first_name\",\n  \"public\".\"lead\".\"last_name\" AS \"last_name\",\n  \"public\".\"lead\".\"uuid\" AS \"uuid\",\n  \"Phone\".\"phoneNumber\" AS \"Phone__phoneNumber\",\n  \"Phone\".\"countryCode\" AS \"Phone__countryCode\",\n  \"Email\".\"email\" AS \"Email__email\"\nFROM\n  \"public\".\"lead\" \nLEFT JOIN \"public\".\"phone\" AS \"Phone\" ON \"public\".\"lead\".\"id\" = \"Phone\".\"leadId\"\n  LEFT JOIN \"public\".\"email\" AS \"Email\" ON \"public\".\"lead\".\"id\" = \"Email\".\"leadId\"\n  LEFT JOIN \"public\".\"user\" AS \"User - SpocId\" ON \"public\".\"lead\".\"spocId\" = \"User - SpocId\".\"id\"\nwhere \"public\".\"lead\".\"id\" = {{ $json.lead_id }}\nlimit 1",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        340,
        -200
      ],
      "id": "95dfc39b-0f78-443f-bf46-568e20ba4d14",
      "name": "Postgres",
      "credentials": {
        "postgres": {
          "id": "VPJUosohtvWNBW4H",
          "name": "MF Prod (DO NOT USE)"
        }
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Kolkata",
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "osaLco4lVgTtLpKH"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "lead_id": "8549251"
        }
      }
    ]
  },
  "versionId": "06c5a6d1-49bb-4517-8c25-2e4b0c3afad0",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-05-09T08:32:47.766Z",
      "updatedAt": "2025-05-09T08:32:47.766Z",
      "role": "workflow:owner",
      "workflowId": "eQzyHqrEBFVmbr6N",
      "projectId": "cR71BtEHrwxYg2T3",
      "project": {
        "createdAt": "2025-03-05T09:02:14.120Z",
        "updatedAt": "2025-03-05T09:02:14.120Z",
        "id": "cR71BtEHrwxYg2T3",
        "name": "jithin jithin.kumar@mileseducation.com <jithin.kumar@mileseducation.com>",
        "type": "personal",
        "icon": null,
        "projectRelations": [
          {
            "createdAt": "2025-03-05T09:02:14.123Z",
            "updatedAt": "2025-03-05T09:02:14.123Z",
            "role": "project:personalOwner",
            "userId": "f51de756-6885-4866-9956-6527c235116c",
            "projectId": "cR71BtEHrwxYg2T3",
            "user": {
              "createdAt": "2023-08-04T07:13:39.569Z",
              "updatedAt": "2025-03-27T08:36:36.628Z",
              "id": "f51de756-6885-4866-9956-6527c235116c",
              "email": "jithin.kumar@mileseducation.com",
              "firstName": "jithin",
              "lastName": "jithin.kumar@mileseducation.com",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2023-08-04T07:16:29.938Z",
                "personalization_survey_n8n_version": "1.1.1"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "AI5qL0olh221f3jV",
                "isOnboarded": true,
                "userActivatedAt": 1741165335002,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1743064591892
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false,
              "isOwner": true
            }
          }
        ]
      }
    }
  ],
  "tags": []
}