backup:v1/backup_fetch_doctors_pathway_leads_zapier_jnYPdjJl7fyFHRxB.json
{
  "createdAt": "2025-05-06T12:46:08.513Z",
  "updatedAt": "2025-05-06T14:22:29.000Z",
  "id": "jnYPdjJl7fyFHRxB",
  "name": "fetch-doctors-pathway-leads-zapier",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fetch-doctors-pathway-leads-zapier",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -440,
        -100
      ],
      "id": "021f191b-0ef3-49dc-abd7-a1684087bfaf",
      "name": "Webhook",
      "webhookId": "0c157e49-1dd1-487d-998f-e7292ea38f4f"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mfx-prod-154625965269.asia-south1.run.app/enquiries/add",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"first_name\":\"{{ $('Webhook').item.json.body['Full Name'] }}\",\n\"phone\":\"{{ $json.normalizedPhoneNumber }}\",\n\"contact_number\":\"{{ $json.normalizedPhoneNumber }}\",\n\"email\":\"{{ $('Webhook').item.json.body.Email }}\",\n\"course_id\": 33,\n\"whatsapp_opt_in\":true,\n\"educational_qualification\":null,\n\"campaign_id\": {{ $('Webhook').item.json.body.camp_id.toNumber() }},\n\"register_for_webinar\":true,\n\"coming_from\": \"{{ $('Webhook').item.json.body.camp_id.toNumber() }}_{{ $('Webhook').item.json.body['Platform Ad Set Name'] }}_{{ $('Webhook').item.json.body['Platform Campaign Name'] }}\",\n\"year_of_graduation\": \"{{ $('Webhook').item.json.body['Qualifier Question'] }}\"\n}",
        "options": {}
      },
      "id": "4a086b42-9603-4625-a9aa-a0d66cfd86dd",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        40,
        -100
      ],
      "retryOnFail": true,
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": " // Fetch all input items\nconst results = [];\n\nfor (let i = 0; i < items.length; i++) {\n    let number = $input.first().json.body[\"Phone Number\"];  // Assuming the input number is under 'phoneNumber' key\n    let cleanNumber = number.toString().replace(/\\D/g, '');\n\n    let normalizedNumber;\n    \n    if (cleanNumber.startsWith('+91') && cleanNumber.length === 13) {\n        normalizedNumber = cleanNumber;\n    } else if (cleanNumber.startsWith('91') && cleanNumber.length === 12) {\n        normalizedNumber = '+91' + cleanNumber.slice(2);\n    } else if (cleanNumber.length === 10) {\n        normalizedNumber = '+91' + cleanNumber;\n    } else {\n        normalizedNumber = '+'+cleanNumber;\n    }\n    \n    results.push({\n        json: {\n            normalizedPhoneNumber: normalizedNumber\n        }\n    });\n}\n\nreturn results;\n"
      },
      "id": "095f5980-3a98-4209-bd1f-925a892423ab",
      "name": "Code1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -200,
        -100
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "webhook.miles-api.com",
            "x-real-ip": "172.70.111.43",
            "x-forwarded-host": "webhook.miles-api.com",
            "x-forwarded-server": "webhook.miles-api.com",
            "x-forwarded-for": "54.211.210.31, 172.70.111.43",
            "connection": "close",
            "content-length": "368",
            "cf-ray": "93b8e1006ead0f67-EWR",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "user-agent": "Zapier",
            "x-forwarded-proto": "https",
            "cdn-loop": "cloudflare; loops=1",
            "content-type": "application/json; charset=utf-8",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-connecting-ip": "54.211.210.31",
            "cf-ipcountry": "US"
          },
          "params": {},
          "query": {},
          "body": {
            "camp_id": "1601",
            "Email": "mehersyd007@gmail.com",
            "Form Name": "Doctors US Pathway - Intent[Webinar] - V2",
            "Full Name": "~SAYED MEHER...♡✿⁠",
            "Full Time Stamp": "2025-05-06T13:38:30+0000",
            "Phone Number": "+918692004074",
            "Platform Ad Set Name": "Doctors_Pathway_Medical_Intent",
            "Platform Campaign Name": "FB_Doctors_Pathway_OutR_Native_Form",
            "Qualifier Question": "2025"
          },
          "webhookUrl": "https://webhook.miles-api.com/webhook/fetch-doctors-pathway-leads-zapier",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "95433999-c6e5-41a9-9724-38eb008ecb97",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-05-06T12:46:08.518Z",
      "updatedAt": "2025-05-06T12:46:08.518Z",
      "role": "workflow:owner",
      "workflowId": "jnYPdjJl7fyFHRxB",
      "projectId": "cR71BtEHrwxYg2T3",
      "project": {
        "createdAt": "2025-03-05T09:02:14.120Z",
        "updatedAt": "2025-03-05T09:02:14.120Z",
        "id": "cR71BtEHrwxYg2T3",
        "name": "jithin jithin.kumar@mileseducation.com <jithin.kumar@mileseducation.com>",
        "type": "personal",
        "icon": null,
        "projectRelations": [
          {
            "createdAt": "2025-03-05T09:02:14.123Z",
            "updatedAt": "2025-03-05T09:02:14.123Z",
            "role": "project:personalOwner",
            "userId": "f51de756-6885-4866-9956-6527c235116c",
            "projectId": "cR71BtEHrwxYg2T3",
            "user": {
              "createdAt": "2023-08-04T07:13:39.569Z",
              "updatedAt": "2025-03-27T08:36:36.628Z",
              "id": "f51de756-6885-4866-9956-6527c235116c",
              "email": "jithin.kumar@mileseducation.com",
              "firstName": "jithin",
              "lastName": "jithin.kumar@mileseducation.com",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2023-08-04T07:16:29.938Z",
                "personalization_survey_n8n_version": "1.1.1"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "AI5qL0olh221f3jV",
                "isOnboarded": true,
                "userActivatedAt": 1741165335002,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1743064591892
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false,
              "isOwner": true
            }
          }
        ]
      }
    }
  ],
  "tags": []
}