backup:v1/backup_Social_leads_analysis_sfRqyjfNSSGoL8Vz.json
{
  "createdAt": "2025-01-24T10:29:02.521Z",
  "updatedAt": "2025-01-24T12:35:36.000Z",
  "id": "sfRqyjfNSSGoL8Vz",
  "name": "Social leads analysis",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "031f9a42-bcc7-4358-9f5a-3a21e394d0b7",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        380,
        300
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "leads_dump",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "camp_id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "id": "6f702da4-126a-48f5-9745-b373372fdc21",
      "name": "Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1020,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "6stEFLC7gtftREcf",
          "name": "Supabase Campaign manager"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "campaign",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "source",
              "condition": "eq",
              "keyValue": "8"
            }
          ]
        }
      },
      "id": "b946bc08-11c4-4c9a-a541-34a409db320d",
      "name": "Supabase1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        720,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "6stEFLC7gtftREcf",
          "name": "Supabase Campaign manager"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "email",
          "mode": "name"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "email",
              "value": "={{ $json.email }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e4ba8b89-05f2-42d8-9fab-2b4d1ad81c54",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [
        1320,
        120
      ],
      "credentials": {
        "postgres": {
          "id": "VPJUosohtvWNBW4H",
          "name": "MF Prod (DO NOT USE)"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "phone",
          "mode": "name"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "phoneNumber",
              "value": "={{ $json.phone.includes(+91)?$json.phone.slice(3): $json.phone }}"
            }
          ]
        },
        "options": {}
      },
      "id": "bd918d91-cded-4813-b382-54d99d82e0fd",
      "name": "Postgres1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [
        1320,
        540
      ],
      "credentials": {
        "postgres": {
          "id": "VPJUosohtvWNBW4H",
          "name": "MF Prod (DO NOT USE)"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": [
            {
              "field1": "leadId",
              "field2": "leadId"
            }
          ]
        },
        "joinMode": "keepEverything",
        "options": {}
      },
      "id": "2a58ede2-18d6-4655-bfb8-1a2859213e73",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1620,
        320
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "lead",
          "mode": "name"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $json.leadId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "15cf461a-116d-47fd-9217-89b40a64f2d9",
      "name": "Postgres2",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [
        1940,
        320
      ],
      "credentials": {
        "postgres": {
          "id": "VPJUosohtvWNBW4H",
          "name": "MF Prod (DO NOT USE)"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "enrolment",
          "mode": "list",
          "cachedResultName": "enrolment"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "leadId",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "eb9f1038-cdc4-4598-b85f-a67133baeb61",
      "name": "Postgres3",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [
        2580,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "VPJUosohtvWNBW4H",
          "name": "MF Prod (DO NOT USE)"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 50,
        "options": {}
      },
      "id": "afd77f2e-92a5-4036-937f-5268f12f3bba",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        2180,
        320
      ]
    },
    {
      "parameters": {
        "operation": "toFile",
        "fileFormat": "csv",
        "options": {
          "fileName": "social leads"
        }
      },
      "id": "e0b10c39-dd4d-447a-a6cc-98714832e368",
      "name": "Spreadsheet File",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 1,
      "position": [
        2760,
        60
      ]
    },
    {
      "parameters": {
        "operation": "concatenateItems",
        "aggregate": "aggregateAllItemData"
      },
      "id": "fbbb6f6e-da54-4be5-b4c8-c2df88f9df23",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        2880,
        300
      ]
    }
  ],
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Supabase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase1": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          },
          {
            "node": "Postgres1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Postgres2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres2": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Postgres3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres3": {
      "main": [
        [
          {
            "node": "Spreadsheet File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "b8e66ab7-9ba7-4131-bee2-e272f8a7adc8",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-01-24T10:29:02.525Z",
      "updatedAt": "2025-01-24T10:29:02.525Z",
      "role": "workflow:owner",
      "workflowId": "sfRqyjfNSSGoL8Vz",
      "projectId": "cR71BtEHrwxYg2T3",
      "project": {
        "createdAt": "2025-03-05T09:02:14.120Z",
        "updatedAt": "2025-03-05T09:02:14.120Z",
        "id": "cR71BtEHrwxYg2T3",
        "name": "jithin jithin.kumar@mileseducation.com <jithin.kumar@mileseducation.com>",
        "type": "personal",
        "icon": null,
        "projectRelations": [
          {
            "createdAt": "2025-03-05T09:02:14.123Z",
            "updatedAt": "2025-03-05T09:02:14.123Z",
            "role": "project:personalOwner",
            "userId": "f51de756-6885-4866-9956-6527c235116c",
            "projectId": "cR71BtEHrwxYg2T3",
            "user": {
              "createdAt": "2023-08-04T07:13:39.569Z",
              "updatedAt": "2025-03-27T08:36:36.628Z",
              "id": "f51de756-6885-4866-9956-6527c235116c",
              "email": "jithin.kumar@mileseducation.com",
              "firstName": "jithin",
              "lastName": "jithin.kumar@mileseducation.com",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2023-08-04T07:16:29.938Z",
                "personalization_survey_n8n_version": "1.1.1"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "AI5qL0olh221f3jV",
                "isOnboarded": true,
                "userActivatedAt": 1741165335002,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1743064591892
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false,
              "isOwner": true
            }
          }
        ]
      }
    }
  ],
  "tags": []
}