backup:v1/backup__NEW__Send_Activity_to_Netcore_MYduhGIhCmgTaVQu.json
{
  "createdAt": "2025-06-04T20:28:06.302Z",
  "updatedAt": "2025-06-05T11:19:10.000Z",
  "id": "MYduhGIhCmgTaVQu",
  "name": "(NEW) Send Activity to Netcore",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        260,
        340
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api2.netcoresmartech.com/v1/activity/upload",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer 9fe318e8ece9299a6945bea578bad979"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.data }}",
        "options": {}
      },
      "id": "4aad407b-aa97-4dfb-8ae3-9f4b7610aa09",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1320,
        180
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1100,
        180
      ],
      "id": "e9f9a27c-0ecb-49df-9896-818d1394937c",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7b198dfc-ba00-4b21-8c78-e17c529d8bd4",
              "name": "identity",
              "value": "={{ $json.uuid }}",
              "type": "string"
            },
            {
              "id": "ebb9befd-a59f-49c8-84aa-feaa0eadc164",
              "name": "asset_id",
              "value": "5110a91370e379b21165d47435cf6106",
              "type": "string"
            },
            {
              "id": "ec594e93-7c5c-4c92-a5ee-6d78d2280908",
              "name": "timestamp",
              "value": "={{ $now }}",
              "type": "string"
            },
            {
              "id": "1f489066-73ef-4105-9a4d-6be2a4b2682b",
              "name": "activity_source",
              "value": "web",
              "type": "string"
            },
            {
              "id": "a99f895e-ab31-4188-9e03-e2a9fbd9087f",
              "name": "activity_name",
              "value": "={{ $json.event_name }}",
              "type": "string"
            },
            {
              "id": "28e4bc82-bf37-4c50-a6be-1f362b420b0d",
              "name": "activity_params",
              "value": "={{ $json }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        900,
        180
      ],
      "id": "d2711fa6-46ab-4095-91ec-f29a54557d51",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "amount": 45
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        700,
        180
      ],
      "id": "0d654dc6-cf57-4260-89e5-e6587560ef57",
      "name": "Wait",
      "webhookId": "2511cd93-3251-41c5-9a7d-f28958aa5b2d"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api2.netcoresmartech.com/v1/activity/upload",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer 9fe318e8ece9299a6945bea578bad979"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.data }}",
        "options": {}
      },
      "id": "97e04eb4-a90a-4022-b9f6-263835ed1e51",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1260,
        460
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1040,
        460
      ],
      "id": "7cc4f880-c11a-4279-83b7-8f20845b8078",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7b198dfc-ba00-4b21-8c78-e17c529d8bd4",
              "name": "identity",
              "value": "={{ $json.uuid }}",
              "type": "string"
            },
            {
              "id": "ebb9befd-a59f-49c8-84aa-feaa0eadc164",
              "name": "asset_id",
              "value": "5110a91370e379b21165d47435cf6106",
              "type": "string"
            },
            {
              "id": "ec594e93-7c5c-4c92-a5ee-6d78d2280908",
              "name": "timestamp",
              "value": "={{ $now }}",
              "type": "string"
            },
            {
              "id": "1f489066-73ef-4105-9a4d-6be2a4b2682b",
              "name": "activity_source",
              "value": "web",
              "type": "string"
            },
            {
              "id": "a99f895e-ab31-4188-9e03-e2a9fbd9087f",
              "name": "activity_name",
              "value": "={{ $json.event_name }}",
              "type": "string"
            },
            {
              "id": "28e4bc82-bf37-4c50-a6be-1f362b420b0d",
              "name": "activity_params",
              "value": "={{ $json }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        760,
        460
      ],
      "id": "fafad2ff-efe7-4be9-8d54-2ac8bb098850",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1ced409c-53d1-4810-80d1-b12c44ead871",
              "leftValue": "={{ $json.event_name }}",
              "rightValue": "new_enquiry_received",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        480,
        340
      ],
      "id": "5488c8b9-a0e4-43cd-a462-f667eea30e90",
      "name": "If"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Kolkata",
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "osaLco4lVgTtLpKH"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "uuid": "859e4ba1-fb17-490c-9e59-e2f07773e81e",
          "email": "pkabhishek01@gmail.com",
          "phone": "+918606350291",
          "first_name": "Abhishek",
          "requestid_contact_creation": "53327351095a6a066c5caa4de0e0bf07",
          "course_id": 2,
          "city": null,
          "coming_from": "manual_upload_feb_12",
          "campaign_id": 1378,
          "intrested_for_work_in_us": null,
          "graduation_year": 0,
          "ne_id": 787711,
          "next_webinar_date": null,
          "next_webinar_time": null,
          "event_name": "new_enquiry_received",
          "lead_id": 6086850
        }
      }
    ]
  },
  "versionId": "4fa0a66e-0ac3-4715-9d88-b334adb05097",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-06-04T20:28:06.306Z",
      "updatedAt": "2025-06-04T20:28:06.306Z",
      "role": "workflow:owner",
      "workflowId": "MYduhGIhCmgTaVQu",
      "projectId": "cR71BtEHrwxYg2T3",
      "project": {
        "createdAt": "2025-03-05T09:02:14.120Z",
        "updatedAt": "2025-03-05T09:02:14.120Z",
        "id": "cR71BtEHrwxYg2T3",
        "name": "jithin jithin.kumar@mileseducation.com <jithin.kumar@mileseducation.com>",
        "type": "personal",
        "icon": null,
        "projectRelations": [
          {
            "createdAt": "2025-03-05T09:02:14.123Z",
            "updatedAt": "2025-03-05T09:02:14.123Z",
            "role": "project:personalOwner",
            "userId": "f51de756-6885-4866-9956-6527c235116c",
            "projectId": "cR71BtEHrwxYg2T3",
            "user": {
              "createdAt": "2023-08-04T07:13:39.569Z",
              "updatedAt": "2025-03-27T08:36:36.628Z",
              "id": "f51de756-6885-4866-9956-6527c235116c",
              "email": "jithin.kumar@mileseducation.com",
              "firstName": "jithin",
              "lastName": "jithin.kumar@mileseducation.com",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2023-08-04T07:16:29.938Z",
                "personalization_survey_n8n_version": "1.1.1"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "AI5qL0olh221f3jV",
                "isOnboarded": true,
                "userActivatedAt": 1741165335002,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1743064591892
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false,
              "isOwner": true
            }
          }
        ]
      }
    }
  ],
  "tags": []
}