backup:v2/backup_fetch_events_mf_doctors_Rnt6PbRs2oMGMjIn.json
{
  "createdAt": "2025-06-09T09:43:54.606Z",
  "updatedAt": "2025-06-25T05:57:29.000Z",
  "id": "Rnt6PbRs2oMGMjIn",
  "name": "fetch-events-mf-doctors",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fetch-events-mf-doctors",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -620,
        -240
      ],
      "id": "b8435ffa-2128-4e1f-a49d-9ace99533598",
      "name": "Webhook",
      "webhookId": "b0529968-467e-42c8-8dd2-86fc6ef70d15"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "314b9570-bea6-4645-ad70-432c47a96bcd",
              "name": "lead_id",
              "value": "={{ $json.body.lead_id }}",
              "type": "string"
            },
            {
              "id": "ba643f98-bb82-41fb-9d71-6c0f04785cfe",
              "name": "first_name",
              "value": "={{ $json.body.first_name }}",
              "type": "string"
            },
            {
              "id": "5de06077-cf8d-4354-a302-49045e02b447",
              "name": "uuid",
              "value": "={{ $json.body.uuid }}",
              "type": "string"
            },
            {
              "id": "ca3dfae1-4bd3-43bb-be54-555912e0b2ae",
              "name": "email",
              "value": "={{ $json.body.email }}",
              "type": "string"
            },
            {
              "id": "9825dd31-8034-46d0-8b2c-3792ad7d086b",
              "name": "phone",
              "value": "={{ $json.body.country_code }}{{ $json.body.phone }}",
              "type": "string"
            },
            {
              "id": "e1a0a8b8-1ef5-4552-8a8a-3930b7b865f2",
              "name": "country_code",
              "value": "={{ $json.body.country_code }}",
              "type": "string"
            },
            {
              "id": "d367a209-b445-489b-b3a3-66c05ee5eaa7",
              "name": "event_name",
              "value": "={{ $json.body.event_name }}",
              "type": "string"
            },
            {
              "id": "19e92978-7c17-4191-9082-229116bf9f8c",
              "name": "send_whatsapp",
              "value": "={{ $json.body.send_whatsapp }}",
              "type": "string"
            },
            {
              "id": "30787e2e-a6e1-429e-9899-f7ad6593a6e1",
              "name": "send_email",
              "value": "={{ $json.body.send_email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -400,
        -240
      ],
      "id": "437d3d8e-4411-4180-9f31-b80a9588b508",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "lOgLi51AQQR2VRrS",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -120,
        -240
      ],
      "id": "ee5aa128-bb17-478a-ba03-8e25097c8e0b",
      "name": "NEW Send Contact to Netcore"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "MYduhGIhCmgTaVQu",
          "cachedResultName": "(NEW) Send Activity to Netcore"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        580,
        -240
      ],
      "id": "399ff980-7b7b-4008-8e4b-a9a468550984",
      "name": "(NEW) Send Activity to Netcore"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e0294b15-881f-44af-8306-9f628a6f6663",
              "name": "lead_id",
              "value": "={{ $('Edit Fields').item.json.lead_id }}",
              "type": "number"
            },
            {
              "id": "896d1498-94e5-4795-9b6a-c404f6ffc0a3",
              "name": "uuid",
              "value": "={{ $('Edit Fields').item.json.uuid }}",
              "type": "string"
            },
            {
              "id": "8582cd9e-39f1-402c-9558-3782530c1265",
              "name": "event_name",
              "value": "={{ $('Edit Fields').item.json.event_name }}",
              "type": "string"
            },
            {
              "id": "eb6e1fb2-305d-44ba-83b0-3a4b465b643b",
              "name": "email",
              "value": "={{ $json.email }}",
              "type": "string"
            },
            {
              "id": "03fbd980-ffef-40da-9ccd-55e824ebfd75",
              "name": "phone",
              "value": "={{ $json.phone }}",
              "type": "string"
            },
            {
              "id": "7765be67-f69d-474b-86c5-cf8239a6e4bd",
              "name": "first_name",
              "value": "={{ $json.first_name }}",
              "type": "string"
            },
            {
              "id": "30ad2d10-0c88-41ff-ab0a-6e040958c9c6",
              "name": "send_whatsapp",
              "value": "={{ $('Edit Fields').item.json.send_whatsapp }}",
              "type": "string"
            },
            {
              "id": "a278f1b3-0122-42ad-9ac1-6a740ab91126",
              "name": "send_email",
              "value": "={{ $('Edit Fields').item.json.send_email }}",
              "type": "string"
            },
            {
              "id": "547b35ac-ff5a-4d60-9de5-af4c947f11b2",
              "name": "course_id",
              "value": 33,
              "type": "number"
            },
            {
              "id": "fc61ded4-ee19-4663-be11-362f225d52cd",
              "name": "database_type",
              "value": "mf3",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        100,
        -240
      ],
      "id": "1693b790-1631-4782-a88a-3c1d340f9ab6",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        320,
        -240
      ],
      "id": "e16b7527-4a1c-46a8-9219-cd265f05cfec",
      "name": "Wait",
      "webhookId": "4a838aa9-fd1f-425c-8a02-9ba569c88ae9",
      "disabled": true
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NEW Send Contact to Netcore": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "NEW Send Contact to Netcore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "(NEW) Send Activity to Netcore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "webhook.miles-api.com",
            "x-real-ip": "162.158.163.248",
            "x-forwarded-host": "webhook.miles-api.com",
            "x-forwarded-server": "webhook.miles-api.com",
            "x-forwarded-for": "115.240.189.114, 162.158.163.248",
            "connection": "close",
            "content-length": "275",
            "cf-ray": "954374ed6c6f5fd4-SIN",
            "user-agent": "axios/1.9.0",
            "accept-encoding": "gzip, br",
            "content-type": "application/json",
            "x-forwarded-proto": "https",
            "cdn-loop": "cloudflare; loops=1",
            "accept": "application/json, text/plain, */*",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-connecting-ip": "115.240.189.114",
            "cf-ipcountry": "IN"
          },
          "params": {},
          "query": {},
          "body": {
            "lead_id": 1,
            "first_name": "Lead",
            "last_name": "Gopika",
            "full_name": "Lead Gopika",
            "uuid": "33633840-5981-40c0-8774-5362df9228a5",
            "email": "gopikaprasoon19@gmail.com",
            "phone": "7034347947",
            "country_code": "+91",
            "event_name": "called_positive",
            "send_whatsapp": true,
            "send_email": false
          },
          "webhookUrl": "https://webhook.miles-api.com/webhook/fetch-events-mf-doctors",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "848f9d90-e4c3-439e-ab49-8445c0694004",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-06-09T09:43:55.641Z",
      "updatedAt": "2025-06-09T09:43:55.641Z",
      "role": "workflow:owner",
      "workflowId": "Rnt6PbRs2oMGMjIn",
      "projectId": "cR71BtEHrwxYg2T3",
      "project": {
        "createdAt": "2025-03-05T09:02:14.120Z",
        "updatedAt": "2025-03-05T09:02:14.120Z",
        "id": "cR71BtEHrwxYg2T3",
        "name": "jithin jithin.kumar@mileseducation.com <jithin.kumar@mileseducation.com>",
        "type": "personal",
        "icon": null,
        "projectRelations": [
          {
            "createdAt": "2025-03-05T09:02:14.123Z",
            "updatedAt": "2025-03-05T09:02:14.123Z",
            "role": "project:personalOwner",
            "userId": "f51de756-6885-4866-9956-6527c235116c",
            "projectId": "cR71BtEHrwxYg2T3",
            "user": {
              "createdAt": "2023-08-04T07:13:39.569Z",
              "updatedAt": "2025-03-27T08:36:36.628Z",
              "id": "f51de756-6885-4866-9956-6527c235116c",
              "email": "jithin.kumar@mileseducation.com",
              "firstName": "jithin",
              "lastName": "jithin.kumar@mileseducation.com",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2023-08-04T07:16:29.938Z",
                "personalization_survey_n8n_version": "1.1.1"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "AI5qL0olh221f3jV",
                "isOnboarded": true,
                "userActivatedAt": 1741165335002,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1743064591892
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false,
              "isOwner": true
            }
          }
        ]
      }
    }
  ],
  "tags": []
}