backup:v2/backup_Register_for_webinar_mf2_0_IZeN1NUVPtnoC7Qs.json
{
  "createdAt": "2025-01-23T13:57:39.753Z",
  "updatedAt": "2025-05-16T05:47:20.000Z",
  "id": "IZeN1NUVPtnoC7Qs",
  "name": "Register for webinar mf2.0",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "cee0b1cd-e807-4e0e-950e-7eace5d6c183",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1Tmz5J2wgG_5lr-MNMvr5alqq8lfxo3y4jKWcQCtZjww/edit?gid=1127159527#gid=1127159527",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1127159527,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Tmz5J2wgG_5lr-MNMvr5alqq8lfxo3y4jKWcQCtZjww/edit#gid=1127159527"
        },
        "options": {}
      },
      "id": "a5dc6ebc-baaa-4deb-9e62-2b3ae79dd356",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        900,
        300
      ],
      "credentials": {
        "googleApi": {
          "id": "aiCprsG1ZRAOjrNn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "4f8130b9-f4a5-44a3-a3dd-d62b2abfd01b",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        1080,
        140
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mfx-prod-154625965269.asia-south1.run.app/webinar/add-lead",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('HTTP Request2').item.json.result.token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"lead_id\": {{ $('Split In Batches').item.json.leadId }},\n\"campaign_id\": {{ $('Split In Batches').item.json.campaign_id }},\n\"webinar_id\": {{ $('Split In Batches').item.json.webinar_id }}\n}",
        "options": {}
      },
      "id": "ff23f850-6b92-42aa-a86c-1d8457be7936",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1680,
        40
      ],
      "retryOnFail": true,
      "continueOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const minDelay = 1000; // 1 second\nconst maxDelay = 5000; // 5 seconds\n\nconst randomDelay = (Math.floor(Math.random() * (maxDelay - minDelay + 1)) + minDelay)/1122;\n\nconsole.log(`Delaying execution by ${randomDelay}ms`);\n\nawait new Promise(resolve => setTimeout(resolve, randomDelay));\n\nreturn [{ json: { randomDelay } }]; // Correct format for n8n\n"
      },
      "id": "4a41bea7-ab54-411f-b1d7-d65333aab38b",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        40
      ]
    },
    {
      "parameters": {
        "amount": "={{ $json.randomDelay }}",
        "unit": "seconds"
      },
      "id": "fc86b746-e942-49f0-899e-9d68da2ec416",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1480,
        40
      ],
      "webhookId": "6fd37b40-5347-4f93-92ba-81d0043adcc2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mfx-prod-154625965269.asia-south1.run.app/webinar/add-lead",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MzYsInN0YXR1cyI6dHJ1ZSwiY3JlYXRlZF9hdCI6IjIwMjQtMDktMDZUMTc6NDQ6NDAuMjUzWiIsInVwZGF0ZWRfYXQiOiIyMDI0LTA5LTA2VDE3OjQ0OjQwLjI1M1oiLCJ1c2VySWQiOiJmNzc1NmY3MC00MjA1LTQ2NjItYjY2NS0zZDljNmE2ZGRhMzAiLCJmaXJzdE5hbWUiOiJqaXRoaW4iLCJsYXN0TmFtZSI6Imt1bWFyIiwicm9sZSI6MCwidXNlck5hbWUiOiJqaXRoaW4ua3VtYXJAbWlsZXNlZHVjYXRpb24uY29tIiwiZW1haWwiOiJqaXRoaW4ua3VtYXJAbWlsZXNlZHVjYXRpb24uY29tIiwicGhvbmUiOiI5OTgwNzgzNjA5IiwiY291bnRyeUNvZGUiOiI5MSIsIm1mYUVuYWJsZWQiOmZhbHNlLCJtZmFUeXBlIjpudWxsLCJtZmFTZWNyZXQiOm51bGwsInVzZXJUeXBlIjoxLCJsYXN0TG9naW4iOm51bGwsImFwcGxpY2F0aW9ucyI6W3siaWQiOjQxLCJzdGF0dXMiOnRydWUsImNyZWF0ZWRfYXQiOiIyMDI0LTA5LTA2VDE3OjQ0OjQwLjQzM1oiLCJ1cGRhdGVkX2F0IjoiMjAyNC0wOS0wNlQxNzo0NDo0MC40MzNaIiwiaXNBY3RpdmUiOnRydWUsImFwcGxpY2F0aW9uIjp7ImlkIjozLCJzdGF0dXMiOnRydWUsImNyZWF0ZWRfYXQiOiIwMDAxLTAxLTAxVDA1OjQ2OjE4Ljc3MloiLCJ1cGRhdGVkX2F0IjoiMDAwMS0wMS0wMVQwNTo0NjoxOC43NzJaIiwiYXBwbGljYXRpb25fbmFtZSI6Ik1GIiwiYXBwbGljYXRpb25fZGVzY3JpcHRpb24iOiJNRngiLCJhcHBsaWNhdGlvbl91cmwiOiJodHRwOi8vbG9jYWxob3N0OjMyMTEvYXBpL2NiP3Rva2VuPSIsImFwcGxpY2F0aW9uX3R5cGUiOiJXRUIiLCJyZWZyZXNoX3Rva2VuX2xpZmUiOiIyZCIsImFjY2Vzc190b2tlbl9saWZlIjpudWxsLCJpc0FjdGl2ZSI6dHJ1ZSwiaXNfZGV2bW9kZSI6dHJ1ZSwiaXNfZnJlZV9hY2Nlc3MiOmZhbHNlfX1dLCJ1c2VyIjp7ImlkIjozNSwic3RhdHVzIjp0cnVlLCJjcmVhdGVkX2F0IjoiMjAyNC0wOS0wNlQxNzo0NDo0MC4wNjNaIiwidXBkYXRlZF9hdCI6IjIwMjQtMDktMDZUMTc6NDQ6NDAuMDYzWiIsImZpcnN0TmFtZSI6ImppdGhpbiIsImxhc3ROYW1lIjoia3VtYXIiLCJlbWFpbCI6ImppdGhpbi5rdW1hckBtaWxlc2VkdWNhdGlvbi5jb20iLCJwaG9uZSI6Ijk5ODA3ODM2MDkiLCJjb3VudHJ5Q29kZSI6IjkxIiwidXNlclR5cGUiOjEsImxhc3RMb2dpbiI6bnVsbCwiZ2VuZGVyIjpudWxsLCJsb2NhdGlvbiI6bnVsbCwicGF0aFdheVByb2ZpbGUiOm51bGwsImpvYlByZWZlcmVuY2UiOm51bGwsImRldmljZUlkIjpudWxsLCJlbXBsb3llZUlkIjpudWxsfSwic2Vzc2lvbiI6NTEzNjEsImlhdCI6MTczODIzNjc1NiwiZXhwIjoxNzM4MzIzMTU2fQ.ud_FIsbzDaqHcqOSUmAN9kRlfWCMRdvtCnk4pnItf_8"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"lead_id\":{{ $json.leadId }},\n\"campaign_id\": {{ $json[\"CampignId\"] }},\n\"webinar_id\":23\n}",
        "options": {}
      },
      "id": "a30d1644-ad16-415f-b578-12be87473795",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2340,
        680
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "content": "just register",
        "height": 106,
        "width": 150
      },
      "id": "c4772a5b-003a-40b0-844e-df950e41dbab",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2270,
        640
      ]
    },
    {
      "parameters": {
        "content": "register and confirm",
        "height": 83,
        "width": 150
      },
      "id": "926d58c7-107e-4667-be18-f9d849f21cc9",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1700,
        -20
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mfx-prod-154625965269.asia-south1.run.app/auth/login",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "jithin.kumar@mileseducation.com"
            },
            {
              "name": "password",
              "value": "123"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "b3e5a557-f0a4-4b9a-8337-eb4f7b904d26",
      "name": "HTTP Request2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        700,
        300
      ]
    }
  ],
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "7aa12981-f7f3-404c-b746-1678b555d6d8",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-01-23T13:57:39.758Z",
      "updatedAt": "2025-01-23T13:57:39.758Z",
      "role": "workflow:owner",
      "workflowId": "IZeN1NUVPtnoC7Qs",
      "projectId": "cR71BtEHrwxYg2T3",
      "project": {
        "createdAt": "2025-03-05T09:02:14.120Z",
        "updatedAt": "2025-03-05T09:02:14.120Z",
        "id": "cR71BtEHrwxYg2T3",
        "name": "jithin jithin.kumar@mileseducation.com <jithin.kumar@mileseducation.com>",
        "type": "personal",
        "icon": null,
        "projectRelations": [
          {
            "createdAt": "2025-03-05T09:02:14.123Z",
            "updatedAt": "2025-03-05T09:02:14.123Z",
            "role": "project:personalOwner",
            "userId": "f51de756-6885-4866-9956-6527c235116c",
            "projectId": "cR71BtEHrwxYg2T3",
            "user": {
              "createdAt": "2023-08-04T07:13:39.569Z",
              "updatedAt": "2025-03-27T08:36:36.628Z",
              "id": "f51de756-6885-4866-9956-6527c235116c",
              "email": "jithin.kumar@mileseducation.com",
              "firstName": "jithin",
              "lastName": "jithin.kumar@mileseducation.com",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2023-08-04T07:16:29.938Z",
                "personalization_survey_n8n_version": "1.1.1"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "AI5qL0olh221f3jV",
                "isOnboarded": true,
                "userActivatedAt": 1741165335002,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1743064591892
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false,
              "isOwner": true
            }
          }
        ]
      }
    }
  ],
  "tags": []
}