backup:v2/backup_upload_Data_kq1dsGFAy0Ab1njZ.json
{
  "createdAt": "2025-04-05T09:09:50.868Z",
  "updatedAt": "2025-04-05T09:53:37.000Z",
  "id": "kq1dsGFAy0Ab1njZ",
  "name": "upload Data",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -360,
        -160
      ],
      "id": "037cf7b4-075d-4dd4-abf1-e2495af005e3",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        120,
        -160
      ],
      "id": "64f1c841-c56d-467c-8bee-1f5bbde04c1c",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mfx-prod-154625965269.asia-south1.run.app/enquiries/add",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"first_name\": \"{{ $json.name }}\",\n\"last_name\": \"\",\n\"phone\": \"{{ $json.phone }}\",\n\"email\": null,\n\"course_id\":1,\n\"coming_from\": \"\",\n\"campaign_id\":{{ $json.camp_id }},\n\"campaign_tk\": \"\",\n\"gcl_id\": \"\",\n\"whatsapp_opt_in\": true,\n\"register_for_webinar\": false,\n\"intrested_to_work_in_us\": true,\n\"page_full_url\": \"\",\n\"url_page_path\": \"\",\n\"linked_in_url\": \"\",\n\"clevertap_id\": \"\",\n\"isFromWelcomeBack\": false,\n\"level\":null,\n\"city_id\":{{ $json.city_id }}\n} ",
        "options": {}
      },
      "id": "7f67266c-621f-43f3-9294-48ba41910400",
      "name": "HTTP Request12",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        420,
        -340
      ],
      "retryOnFail": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "data_upload_5_april",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "upload_status",
              "condition": "eq",
              "keyValue": "false"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -140,
        -160
      ],
      "id": "ead6b787-0225-45e4-a579-a3ecd90d41db",
      "name": "Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "6stEFLC7gtftREcf",
          "name": "Supabase Campaign manager"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "data_upload_5_april",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Loop Over Items').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "upload_status",
              "fieldValue": "true"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        640,
        -340
      ],
      "id": "7580e965-af87-468a-84a5-064df891616c",
      "name": "Supabase1",
      "credentials": {
        "supabaseApi": {
          "id": "6stEFLC7gtftREcf",
          "name": "Supabase Campaign manager"
        }
      }
    },
    {
      "parameters": {
        "amount": 2.5
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        860,
        -340
      ],
      "id": "715134f5-23aa-46aa-9d9f-1e366fd4c233",
      "name": "Wait",
      "webhookId": "a391b2e3-30cb-4e30-9351-62dbaa0ca680"
    }
  ],
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request12": {
      "main": [
        [
          {
            "node": "Supabase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "8aa2dad6-c8fd-423d-b963-f9840ecff3d8",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-04-05T09:09:50.900Z",
      "updatedAt": "2025-04-05T09:09:50.900Z",
      "role": "workflow:owner",
      "workflowId": "kq1dsGFAy0Ab1njZ",
      "projectId": "cR71BtEHrwxYg2T3",
      "project": {
        "createdAt": "2025-03-05T09:02:14.120Z",
        "updatedAt": "2025-03-05T09:02:14.120Z",
        "id": "cR71BtEHrwxYg2T3",
        "name": "jithin jithin.kumar@mileseducation.com <jithin.kumar@mileseducation.com>",
        "type": "personal",
        "icon": null,
        "projectRelations": [
          {
            "createdAt": "2025-03-05T09:02:14.123Z",
            "updatedAt": "2025-03-05T09:02:14.123Z",
            "role": "project:personalOwner",
            "userId": "f51de756-6885-4866-9956-6527c235116c",
            "projectId": "cR71BtEHrwxYg2T3",
            "user": {
              "createdAt": "2023-08-04T07:13:39.569Z",
              "updatedAt": "2025-03-27T08:36:36.628Z",
              "id": "f51de756-6885-4866-9956-6527c235116c",
              "email": "jithin.kumar@mileseducation.com",
              "firstName": "jithin",
              "lastName": "jithin.kumar@mileseducation.com",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2023-08-04T07:16:29.938Z",
                "personalization_survey_n8n_version": "1.1.1"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "AI5qL0olh221f3jV",
                "isOnboarded": true,
                "userActivatedAt": 1741165335002,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1743064591892
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false,
              "isOwner": true
            }
          }
        ]
      }
    }
  ],
  "tags": []
}