backup:v2/backup_Create_send_Message_e9fVNVvqRSBGAaBT.json
{
  "createdAt": "2024-04-30T11:06:37.210Z",
  "updatedAt": "2024-05-12T16:45:45.000Z",
  "id": "e9fVNVvqRSBGAaBT",
  "name": "Create send Message",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "create-send-message",
        "options": {}
      },
      "id": "24815ff8-79c6-406d-8e7e-34d8ea3871c7",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        260,
        160
      ],
      "webhookId": "3aaefefd-1b33-4aee-978f-4bf0d66509a8"
    },
    {
      "parameters": {
        "tableId": "message_status",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "send_status",
              "fieldValue": "true"
            },
            {
              "fieldId": "send_time",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "message_id",
              "fieldValue": "={{ $json.body.message_id }}"
            },
            {
              "fieldId": "root",
              "fieldValue": "true"
            },
            {
              "fieldId": "campaign_id",
              "fieldValue": "={{ $json.body.camp_id }}"
            },
            {
              "fieldId": "lead_dump_id",
              "fieldValue": "={{ $json.body.lead_dump_id ?? null }}"
            },
            {
              "fieldId": "next_flow_id",
              "fieldValue": "={{ $json.body.next_flow ?? null }}"
            },
            {
              "fieldId": "template_name",
              "fieldValue": "={{ $json.body.template ?? null }}"
            }
          ]
        }
      },
      "id": "9a19dde8-d185-42e4-ae6f-0fd90d921932",
      "name": "Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        440,
        160
      ],
      "credentials": {
        "supabaseApi": {
          "id": "6stEFLC7gtftREcf",
          "name": "Supabase Campaign manager"
        }
      }
    },
    {
      "parameters": {
        "tableId": "messages_history",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "message_status_id",
              "fieldValue": "={{ $json.id }}"
            },
            {
              "fieldId": "type",
              "fieldValue": "1"
            },
            {
              "fieldId": "mobile",
              "fieldValue": "={{ $('Webhook').item.json.body.mobile }}"
            },
            {
              "fieldId": "sender_id",
              "fieldValue": "={{ $('Webhook').item.json.body.sender_id ?? 917411850463 }}"
            },
            {
              "fieldId": "message",
              "fieldValue": "={{ $('Webhook').item.json.body.message }}"
            }
          ]
        }
      },
      "id": "af522efd-daa2-4ea2-bfe8-7b2091c203b7",
      "name": "Supabase1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        600,
        160
      ],
      "credentials": {
        "supabaseApi": {
          "id": "6stEFLC7gtftREcf",
          "name": "Supabase Campaign manager"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "Supabase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Calcutta",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "9ab03f53-cd25-4885-9af8-e308348aaa7b",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2024-04-30T11:06:37.220Z",
      "updatedAt": "2024-04-30T11:06:37.220Z",
      "role": "workflow:owner",
      "workflowId": "e9fVNVvqRSBGAaBT",
      "projectId": "cR71BtEHrwxYg2T3",
      "project": {
        "createdAt": "2025-03-05T09:02:14.120Z",
        "updatedAt": "2025-03-05T09:02:14.120Z",
        "id": "cR71BtEHrwxYg2T3",
        "name": "jithin jithin.kumar@mileseducation.com <jithin.kumar@mileseducation.com>",
        "type": "personal",
        "icon": null,
        "projectRelations": [
          {
            "createdAt": "2025-03-05T09:02:14.123Z",
            "updatedAt": "2025-03-05T09:02:14.123Z",
            "role": "project:personalOwner",
            "userId": "f51de756-6885-4866-9956-6527c235116c",
            "projectId": "cR71BtEHrwxYg2T3",
            "user": {
              "createdAt": "2023-08-04T07:13:39.569Z",
              "updatedAt": "2025-03-27T08:36:36.628Z",
              "id": "f51de756-6885-4866-9956-6527c235116c",
              "email": "jithin.kumar@mileseducation.com",
              "firstName": "jithin",
              "lastName": "jithin.kumar@mileseducation.com",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2023-08-04T07:16:29.938Z",
                "personalization_survey_n8n_version": "1.1.1"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "AI5qL0olh221f3jV",
                "isOnboarded": true,
                "userActivatedAt": 1741165335002,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1743064591892
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false,
              "isOwner": true
            }
          }
        ]
      }
    }
  ],
  "tags": []
}