backup:v2/backup_Push_to_LI_Conversion_API_xQc7FFQ5AeHjMZQ7.json
{
  "createdAt": "2024-07-02T13:43:28.084Z",
  "updatedAt": "2024-07-02T14:04:57.000Z",
  "id": "xQc7FFQ5AeHjMZQ7",
  "name": "Push to LI Conversion API",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "a351afd2-b985-4583-9337-13a0f3569bcc",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        420,
        280
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "miles_usp_upgraded",
          "mode": "list",
          "cachedResultName": "miles_usp_upgraded"
        },
        "returnAll": true,
        "options": {}
      },
      "id": "a1342ba9-69af-4f2f-b78b-03c7adceb650",
      "name": "MySQL",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        640,
        280
      ],
      "credentials": {
        "mySql": {
          "id": "UPaGqhcnQd5QQFO3",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkedin.com/rest/conversionEvents",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer AQWPBv3NLrB7rcZ8THAqsIQ4NcnV6ef5kHOEqZdsQzilcZmBFqK3GDK1A5tTYe-REl6VTK53lTaWNvqoolbcBPJcL49exE7So_-qYZSlfFaruRd0X5ubsf_zFuJkWvqRiVRDI3hN8Qz7OX05feEX56VLFSuDI_sjq9WPPirswq_Z3HcPmDa0kzarMNsnt5NzuvUrGpYa0OVx01DV10o7GFAmiSdRcUAES5yMlsvmz8nEzdKI_6wJrZoFoWXDrpD9eJJ8wgcdooOfgN69M1QSI_f4-hG7udKReNOCgIoN9EX1eG0QRhvHsIu_JodYJCEXXoKv3l57NsQXpHuxnLcyuYl__vNNrA"
            },
            {
              "name": "LinkedIn-Version",
              "value": "202401"
            },
            {
              "name": "X-Restli-Protocol-Version",
              "value": "2.0.0"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n      \"conversion\": \"urn:lla:llaPartnerConversion:16845572\",\n      \"conversionHappenedAt\": 1719214307000,\n       \"user\": {\n           \"userIds\": [ {\n               \"idType\": \"SHA256_EMAIL\",\n               \"idValue\": \"{{ $json.data }}\"\n               } ],\n          \"userInfo\": {\n               \t\"firstName\": \"test\",\n                \"lastName\": \"01\"\n         }\n     },\n     \"eventId\" : \"16845572\"\n}",
        "options": {}
      },
      "id": "42b4dc9a-5575-4d33-a65e-f9ec53c62038",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1320,
        160
      ]
    },
    {
      "parameters": {
        "type": "SHA256",
        "value": "={{ $('MySQL').item.json.emails ?? \" \" }}"
      },
      "id": "860d719d-4e3f-472e-9f51-6077309b0624",
      "name": "Crypto",
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        1160,
        160
      ]
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "id": "1442ffe4-ffce-496f-8bd9-5b2d0a79709f",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        860,
        280
      ]
    },
    {
      "parameters": {
        "unit": "seconds"
      },
      "id": "c5a9d416-bf45-461c-b022-5b80bf1b4501",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1540,
        160
      ],
      "webhookId": "c8ca2ed3-20dc-4a33-944f-9b444872fde8"
    }
  ],
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "MySQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Crypto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "60bb4ec7-d454-458c-a588-fcae173e6985",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2024-07-02T13:43:28.090Z",
      "updatedAt": "2024-07-02T13:43:28.090Z",
      "role": "workflow:owner",
      "workflowId": "xQc7FFQ5AeHjMZQ7",
      "projectId": "cR71BtEHrwxYg2T3",
      "project": {
        "createdAt": "2025-03-05T09:02:14.120Z",
        "updatedAt": "2025-03-05T09:02:14.120Z",
        "id": "cR71BtEHrwxYg2T3",
        "name": "jithin jithin.kumar@mileseducation.com <jithin.kumar@mileseducation.com>",
        "type": "personal",
        "icon": null,
        "projectRelations": [
          {
            "createdAt": "2025-03-05T09:02:14.123Z",
            "updatedAt": "2025-03-05T09:02:14.123Z",
            "role": "project:personalOwner",
            "userId": "f51de756-6885-4866-9956-6527c235116c",
            "projectId": "cR71BtEHrwxYg2T3",
            "user": {
              "createdAt": "2023-08-04T07:13:39.569Z",
              "updatedAt": "2025-03-27T08:36:36.628Z",
              "id": "f51de756-6885-4866-9956-6527c235116c",
              "email": "jithin.kumar@mileseducation.com",
              "firstName": "jithin",
              "lastName": "jithin.kumar@mileseducation.com",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2023-08-04T07:16:29.938Z",
                "personalization_survey_n8n_version": "1.1.1"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "AI5qL0olh221f3jV",
                "isOnboarded": true,
                "userActivatedAt": 1741165335002,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1743064591892
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false,
              "isOwner": true
            }
          }
        ]
      }
    }
  ],
  "tags": []
}