backup:v2/backup_Office_Visit_Book_API_9EckDuplmkRZsVXy.json
{
  "createdAt": "2024-01-29T09:58:46.246Z",
  "updatedAt": "2024-01-31T11:52:08.000Z",
  "id": "9EckDuplmkRZsVXy",
  "name": "Office Visit Book API",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "767ed5b6-602c-426a-b290-01db00616757",
        "options": {}
      },
      "id": "6b376c7f-965c-45c1-96f2-113485e4480e",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        680,
        360
      ],
      "webhookId": "767ed5b6-602c-426a-b290-01db00616757"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "dateTime",
              "value": "={{ \n$json.body.time == '11:00 AM' ? '11:00:00' :\n$json.body.time == '12:00 PM' ? '12:00:00' :\n$json.body.time == '1:00 PM' ? '13:00:00' :\n$json.body.time == '2:00 PM' ? '14:00:00' :\n$json.body.time == '3:00 PM' ? '15:00:00' :\n$json.body.time == '4:00 PM' ? '16:00:00' :\n$json.body.time == '5:00 PM' ? '17:00:00' :\n$json.body.time == '6:00 PM' ? '18:00:00' :\n$json.body.time == '7:00 PM' ? '19:00:00' :\n '' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c1468e0b-4a1d-4f4e-b025-7a314ae7d4e4",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        900,
        360
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "dateTime",
              "value": "={{ $json.body.datetime+' '+$json.dateTime}}"
            }
          ]
        },
        "options": {}
      },
      "id": "043112df-fe23-4f31-9675-e41edb3a14f2",
      "name": "Set1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1120,
        360
      ]
    },
    {
      "parameters": {
        "tableId": "visit_office",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "leads_dump_id",
              "fieldValue": "={{ $json.body.lead_dump_id }}"
            },
            {
              "fieldId": "time_string",
              "fieldValue": "={{ $json.body.time }}"
            },
            {
              "fieldId": "visit_date",
              "fieldValue": "={{ $json.body.datetime }}"
            },
            {
              "fieldId": "time_slots",
              "fieldValue": "={{ $json.dateTime }}"
            },
            {
              "fieldId": "city",
              "fieldValue": "={{ $json.body.city == 'Virtual Meeting' ? \"Bangalore\" :   $json.body.city  }}"
            },
            {
              "fieldId": "meeting_type",
              "fieldValue": "={{ $json.body.type }}"
            }
          ]
        }
      },
      "id": "6c8b5daf-bb7b-4511-a282-73ad316b1191",
      "name": "Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1320,
        360
      ],
      "credentials": {
        "supabaseApi": {
          "id": "6stEFLC7gtftREcf",
          "name": "Supabase Campaign manager"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Set1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set1": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "webhook.miles-api.com",
            "x-real-ip": "172.71.135.14",
            "x-forwarded-host": "webhook.miles-api.com",
            "x-forwarded-server": "webhook.miles-api.com",
            "x-forwarded-for": "159.89.171.7, 172.71.135.14",
            "connection": "close",
            "content-length": "111",
            "accept-encoding": "gzip",
            "cf-ray": "84d0ffa90e5af140-CDG",
            "x-forwarded-proto": "https",
            "user-agent": "python-requests/2.27.1",
            "accept": "*/*",
            "content-type": "application/json",
            "cf-connecting-ip": "159.89.171.7",
            "cdn-loop": "cloudflare",
            "cf-ipcountry": "IN"
          },
          "params": {},
          "query": {},
          "body": {
            "city": "Virtual Meeting",
            "time": "6:00 PM",
            "type": "1",
            "datetime": "2024-01-30",
            "lead_dump_id": "363937"
          }
        }
      }
    ]
  },
  "versionId": "48d17eff-2de6-4ada-b3b1-5c8bbea3bdeb",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2024-01-29T09:58:46.250Z",
      "updatedAt": "2024-01-29T09:58:46.250Z",
      "role": "workflow:owner",
      "workflowId": "9EckDuplmkRZsVXy",
      "projectId": "cR71BtEHrwxYg2T3",
      "project": {
        "createdAt": "2025-03-05T09:02:14.120Z",
        "updatedAt": "2025-03-05T09:02:14.120Z",
        "id": "cR71BtEHrwxYg2T3",
        "name": "jithin jithin.kumar@mileseducation.com <jithin.kumar@mileseducation.com>",
        "type": "personal",
        "icon": null,
        "projectRelations": [
          {
            "createdAt": "2025-03-05T09:02:14.123Z",
            "updatedAt": "2025-03-05T09:02:14.123Z",
            "role": "project:personalOwner",
            "userId": "f51de756-6885-4866-9956-6527c235116c",
            "projectId": "cR71BtEHrwxYg2T3",
            "user": {
              "createdAt": "2023-08-04T07:13:39.569Z",
              "updatedAt": "2025-03-27T08:36:36.628Z",
              "id": "f51de756-6885-4866-9956-6527c235116c",
              "email": "jithin.kumar@mileseducation.com",
              "firstName": "jithin",
              "lastName": "jithin.kumar@mileseducation.com",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2023-08-04T07:16:29.938Z",
                "personalization_survey_n8n_version": "1.1.1"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "AI5qL0olh221f3jV",
                "isOnboarded": true,
                "userActivatedAt": 1741165335002,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1743064591892
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false,
              "isOwner": true
            }
          }
        ]
      }
    }
  ],
  "tags": []
}